.custom-width-rem {
  min-width: 30rem;
}

.custom-height {
  height: 35px;
}

.custom-border-style {
  border-style: outset;
}

.custom-padding-right {
  padding-right: 40px;
}

.result {
  font-weight: 20;

  font-family: "Manrope", sans-serif;
  font-style: bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #8d8d8d;
  margin-bottom: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
