<div class="container mt-4">
  <div class="row">
    <!-- Card Column -->
    <div class="col-md-6 order-md-1">
      <form class="needs-validation" novalidate="">
        <div class="container mt-3">
          <div class="row">
            <ul style="min-height: 250px; margin-bottom: 0px">
              <h5>
                <i class="fa fa-apple-alt"></i>
                Meal Type
              </h5>
              <li class="list-group-item">
                <div class="form-group mb-0">
                  <div *ngFor="let type of MealType">
                    <label>
                      <input class="form-check-input" type="radio" name="mealType" style="margin-right: 5px"
                        id="{{ type }}" [value]="type" (change)="onMealTypeChange($event)"
                        [checked]="type === selectedMealType" required />
                      {{ type }}
                    </label>
                  </div>
                </div>
                <small>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor
                  consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor
                </small>
              </li>
              <p>
              </p>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <!-- Card Column -->
    <div class="col-md-6 order-md-1" style="margin-left: -4%;">
      <form class="needs-validation" novalidate>
          <div class="container mt-3">
              <div class="row">
                  <ul style="min-height: 250px; margin-bottom: 0px">
                      <h5>
                          <i class="fa fa-utensils"></i>
                          Add Food
                      </h5>
                      <li class="list-group-item">
                          <div class="form-group mb-0">
                            <div *ngFor="let card of cards; let i = index" style="margin-top: 1%;">
                              <app-card [cardId]="card.id" (remove)="removeCard($event)" (add)="addCardFromChild()" ></app-card>
                            </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </form>
  </div>
  </div>