<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    column-count: 2; /* Adjust the number of columns as needed */
  }

  .card {
    break-inside: avoid-column;
    width: 100%;
  }
</style>

<div
  style="
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 5px;
  "
>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="toggleViewMode()"
  >
    {{ viewAsTable ? "View Grid" : "View Table" }}
  </button>
</div>

<div style="display: flex; flex-direction: row; gap: 10px">
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Patient Details</h4>
      <p class="card-text">ID</p>
      <p class="card-text">Name</p>
      <p class="card-text">Age</p>
      <p class="card-text">Gender</p>
    </div>
  </div>
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Other ..</h4>
      <div class="card-body">
        <p class="card-text" style="margin-right: 10px;">Smoking Status</p>
        <div style="display: flex; align-items: center;">
          <img class="card-img-top" src="./assets/images/image 2.svg" alt="" style="width: 30px; height: 30px;" />
          <p class="card-text" style="margin-right: 10px; color : green; font-weight: bold;">90 mmHg</p>
        </div>
      <div class="card-body">
        <p class="card-text" style="margin-right: 10px;">Physical activity status</p>
        <div style="display: flex; align-items: center;">
          <img class="card-img-top" src="./assets/images/image 2.svg" alt="" style="width: 30px; height: 30px;" />
          <p class="card-text" style="margin-right: 10px; color : green; font-weight: bold;">90 mmHg</p>
        </div>
      <div class="card-body">
        <p class="card-text" style="margin-right: 10px;">Physical activity status</p>
        <div style="display: flex; align-items: center;">
          <img class="card-img-top" src="./assets/images/image 2.svg" alt="" style="width: 30px; height: 30px;" />
          <p class="card-text" style="margin-right: 10px; color : green; font-weight: bold;">90 mmHg</p>
        </div>

      
      <p class="card-text">Age</p>
    </div>
  </div>

  <div class="card text-left">
    <div class="card-body">
      <p class="card-text" style="margin-right: 10px;">Blood pressure</p>
      <div style="display: flex; align-items: center;">
        <img class="card-img-top" src="./assets/images/image 2.svg" alt="" style="width: 30px; height: 30px;" />
        <p class="card-text" style="margin-right: 10px; color : green; font-weight: bold;">90 mmHg</p>
      </div>
      <p class="card-text">Blood glucose level</p>
      <div style="display: flex; align-items: center;">
        <img class="card-img-top" src="./assets/images/image 3.svg" alt="" style="width: 30px; height: 30px;" />
        <p class="card-text ;" style = " color: rgb(255, 132, 0); font-weight: bold;">35 mg/dL</p>
      </div>
      <p class="card-text">Oxygen level</p>
      <div style="display: flex; align-items: center;">
        <img class="card-img-top" src="./assets/images/image 1.svg" alt="" style="width: 30px; height: 30px;" />
        <p class="card-text ;" style = " color: red; font-weight: bold;">87 %</p>
      </div>
      <p class="card-text">Heart rate</p>
      <div style="display: flex; align-items: center;">
        <img class="card-img-top" src="./assets/images/image 3 (3).svg" alt="" style="width: 30px; height: 30px;" />
        <p class="card-text ;" style = " color: rgb(170, 0, 255); font-weight: bold;">72 BPM</p>
      </div>
      <p class="card-text">Urinary output</p>
      <div style="display: flex; align-items: center;">
        <img class="card-img-top" src="./assets/images/image 3 (1).svg" alt="" style="width: 30px; height: 30px;" />
        <p class="card-text ;" style = " color: rgb(5, 206, 228); font-weight: bold;">1400 millitres/day</p>
      </div>
      
    </div>
  </div>
  
  
  
  </div>

<br />
<div style="display: flex; flex-direction: row; gap: 10px">
  <div class="card text-left">
    <img
      class="card-img-top"
      src="./assets/images/front-m.png"
      alt=""
      style="width: 50px; height: 75px"
    />
    <div class="card-body" style="margin-left: 10px">
      <h4 class="card-title">Height</h4>
    </div>
  </div>
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Diagnosis</h4>
      <p class="card-text">Normal headache</p>
      <p class="card-text">Diabetes</p>
      <p class="card-text">Anemia</p>
    </div>
  </div>
</div>

<br />
<div style="display: flex; flex-direction: row; gap: 10px">
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Latest Visits</h4>
      <p class="card-text">Normal headache</p>
      <p class="card-text">Diabetes</p>
      <p class="card-text">Anemia</p>
    </div>
  </div>
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Current Diagnosis</h4>
      <p class="card-text">Normal headache</p>
      <p class="card-text">Diabetes</p>
      <p class="card-text">Anemia</p>
    </div>
  </div>
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Current Medications</h4>
      <p class="card-text">Normal headache</p>
      <p class="card-text">Diabetes</p>
      <p class="card-text">Anemia</p>
    </div>
  </div>
</div>
<br />
<div style="display: flex; flex-direction: row; gap: 10px">
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="" />
    <div class="card-body">
      <h4 class="card-title">Allergies</h4>
      <p class="card-text">Drug allergy</p>
      <p class="card-text">Latex Allergy</p>
      <p class="card-text">Anemia</p>
    </div>
  </div>
</div>
