<ng-template #noClaims>
  <p>No claims available</p>
</ng-template>
<ng-container>


  <!-- Add User  Form -->
      <div class="row flex-grow">
          <div class="col-md-6 grid-margin stretch-card">
              <div class="card card-rounded">
                  <div class="card-body">
                      <div class="text-center">
                          <h2>Create User</h2>
                      </div>
                      <form [formGroup]="userForm" (ngSubmit)="createUser()" class="mt-5">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="displayName" placeholder="Enter display name" />
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" formControlName="givenName" placeholder="Enter given name" />
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" formControlName="mailNickname" placeholder="Enter mail nickname" />
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" formControlName="surname" placeholder="Enter surname" />
                      </div>
                          <div class="form-group">
      <input type="text" class="form-control" formControlName="username" placeholder="Enter username" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="Enter password" />
    </div>
    <div class="form-group">
      <select class="form-select field" formControlName="roles">
          <option selected disabled value="">Choose role...</option>
          <option *ngFor="let role of roles" [value]="role">{{ role.name }}</option>
      </select>
  </div>
                          <div class="form-group">
                              <select class="form-select field" formControlName="permissions">
                                  <option selected disabled value="">Choose permission...</option>
                                  <option *ngFor="let permission of permissions" [value]="permission">{{ permission.name }}</option>
                              </select>
                          </div>
                          <button type="submit" class="btn btn-primary text-white align-items-center" [disabled]="userForm.invalid">Submit</button>
                      </form>
                  </div>
              </div>
          </div>

          <div class="col-md-6 grid-margin stretch-card">
              <div class="card card-rounded">
                  <div class="card-body">
                      <div class="text-center">
                          <h2>Invite User by Email</h2>
                      </div>
                      <form [formGroup]="inviteUserForm" (ngSubmit)="inviteUserByEmail()" class="mt-5">
                          <div class="form-group">
                              <input type="email" class="form-control" formControlName="emailAddress" placeholder="Enter email address" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" formControlName="displayName" placeholder="Enter display name" />
                          </div>
                          <div class="form-group">
                            <select class="form-select field" formControlName="roles">
                                <option selected disabled value="">Choose role...</option>
                                <option *ngFor="let role of roles" [value]="role">{{ role.name }}</option>
                            </select>
                        </div>
                          <div class="form-group">
                              <select class="form-select field" formControlName="permissions">
                                  <option selected disabled value="">Choose permission...</option>
                                  <option *ngFor="let permission of permissions" [value]="permission">{{ permission.name }}</option>
                              </select>
                          </div>
                          <button type="submit" class="btn btn-primary text-white align-items-center" [disabled]="inviteUserForm.invalid">Invite</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>

      <hr/>


            <div class="card card-rounded">
                <div class="card-body">
      <h2>All Users</h2>
    <div *ngIf="users">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Display Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Permissions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.displayName }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.roles.join(', ') }}</td>
            <td>{{ user.permissions.join(', ') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!users">
      <p>No users found.</p>
    </div>

      <hr />

    </div>
  </div>



</ng-container>
