<p>Account works!</p>
<ng-template #noClaims>
  <p>No claims available</p>
</ng-template>
<ng-container>
  <div>
    <button (click)="getDirectApiData()">Get data from API direct</button>
    <button (click)="getGraphApiDataUsingApi()">Get Graph data using API</button>
  </div>
  <hr/>
  <h2>Get direct data using API:</h2>
  <pre>{{ dataFromAzureProtectedApi$ | async | json }}</pre>
  <hr />
  <h2>Get Microsoft Graph data using API:</h2>
  <pre>{{ dataGraphApiCalls$ | async | json }}</pre>

  <!-- Add User Registration Form -->
  <h2>Create User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container mt-5">
    <div class="form-group">
      <input type="text" class="form-control" id="displayName" formControlName="displayName" placeholder="Enter display name" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="givenName" formControlName="givenName" placeholder="Enter given name" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="mailNickname" formControlName="mailNickname" placeholder="Enter mail nickname" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Enter surname" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="domain" formControlName="domain" placeholder="Enter domain" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password" />
    </div>
    <div class="form-group">
      <select multiple class="form-control" id="roles" formControlName="roles">
        <option *ngFor="let role of roles" [value]="role">{{ role.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <select multiple class="form-control" id="permissions" formControlName="permissions">
        <option *ngFor="let permission of permissions" [value]="permission">{{ permission.name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
  </form>

  <!-- Invite User by Email Form -->
  <h2>Invite User by Email</h2>
  <form [formGroup]="inviteUserForm" (ngSubmit)="inviteUserByEmail()" class="container mt-5">
    <div class="form-group">
      <input type="email" class="form-control" formControlName="emailAddress" placeholder="Enter email address" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="displayName" placeholder="Enter display name" />
    </div>
    <div class="form-group">
      <select multiple class="form-control" formControlName="roles">
        <option *ngFor="let role of roles" [value]="role">{{ role.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <select multiple class="form-control" formControlName="permissions">
        <option *ngFor="let permission of permissions" [value]="permission">{{ permission.name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="inviteUserForm.invalid">Invite</button>
  </form>
</ng-container>
