<form [formGroup]="myForm" class="container pt-5">
  <!-- Left -->
  <div class="row mx-auto col-12 col-sm-8 col-lg-5">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <mat-form-field [className]="'w-100'">
        <mat-label>Diet</mat-label>
        <mat-select formControlName="diet" [disabled]="isDietsLoading">
          <mat-option *ngFor="let diet of DietList" [value]="diet">{{ diet.DietType }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon  class="align-self-center fs-3 fw-bolder mb-4" style=" width: 1.8rem; height: 1.8rem" [style]="myForm.get('diet')?.value == null ? 'color:grey' :'color:red'"  (click)="onClearSelectedDiet()">
        remove_circle_outline
      </mat-icon>
    </div>
  </div>

  <!-- Right -->

  <div class="row mx-auto col-12 col-sm-8 col-lg-5">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <mat-form-field [className]="'w-100'">
        <mat-label>Unit Care</mat-label>
        <mat-select formControlName="unitCare" [disabled]="isUnitCaresLoading">
          <mat-option *ngFor="let unit of UnitCareList" [value]="unit">{{ unit.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="align-self-center fs-3 fw-bolder mb-4" style="width: 1.8rem; height: 1.8rem" [style]="myForm.get('unitCare')?.value == null ? 'color:grey' :'color:red'" (click)="onClearSelectedUnitCare()">
        remove_circle_outline
      </mat-icon>
    </div>
  </div>
</form>
