<form [formGroup]="myForm" class="container pt-5">
  <!-- Left -->
  <div class="row mx-auto col-12 col-sm-8 col-lg-5 mb-3">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <div [className]="'w-100'">
      @if(isUnitCaresLoading){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
      <mat-form-field [className]="'w-100'">
        <mat-label>Unit Care</mat-label>
        <mat-select formControlName="unitCare" >
          <mat-option *ngFor="let unit of UnitCareList" [value]="unit">{{ unit.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <mat-icon
        class="align-self-center fs-3 fw-bolder mb-4"
        style="width: 1.8rem; height: 1.8rem"
        [style]="myForm.get('unitCare')?.value == null ? 'color:grey' : 'color:red'"
        (click)="onClearSelectedUnitCare()"
        title="Clear selection"
      >
        remove_circle_outline
      </mat-icon>
    </div>
    <div style="margin-top: -1rem" class="d-flex align-content-center"><mat-icon style="font-size: 18px;margin-top: 0.1rem;">error_outline</mat-icon><p>For the patient to be hospitalised, a UnitCare must be selected</p> </div>

  </div>



  <!-- Right -->

  <div class="row mx-auto col-12 col-sm-8 col-lg-5">
    <!-- this id is for shake animation :  id= Diets-chips-select-container-->
    <div class="d-flex justify-content-center align-items-center gap-2">
      <chips-select
        [ObjectName]="'Diets'"
        [customLabel]="'Diets'"
        class="w-100"
        (selectedChipsChange)="selectedDietsChipsChange($event)"
        [enableCustomAdditions]="true"
        [enableQuickSelectFromSuggestions]="true"
        [fullData]="DietList"
        [minimumSearchLength]="0"
        [minimumAddedLabelLength]="5"
        [isStartWithSearch]="false"
        [searchPropertyName]="'dietType'"
        [disabled]="DietList.length === 0 || !myForm.get('unitCare')?.value || isDietsLoading || myForm.get('unitCare')?.enabled === false"
        [isLoading]="isDietsLoading"
        [selectedChips]="selectedDiets"
        [tooltipPropertyName]="'dietType'"
        [maximumNumberOfAddedItems]="1"
      ></chips-select>
      <mat-icon
        title="Clear selection"
        class="align-self-center fs-3 fw-bolder mb-4"
        style="width: 1.8rem; height: 1.8rem"
        [style]="myForm.get('diet')?.value == null ? 'color:grey' : 'color:red'"
        (click)="onClearSelectedDiet()"
      >
        remove_circle_outline
      </mat-icon>
    </div>
    @if (selectedDiets.length ==  0 && myForm.get('unitCare')?.value) {
      <div style="margin-top: -1rem" class="mb-3 text-danger d-flex align-content-center  "><mat-icon class="text-danger" style="font-size: 18px;margin-top: 0.1rem;">error_outline</mat-icon><p>At least one diet is <strong> required</strong></p></div>
    
    }
    @if(myForm.get('unitCare')?.value){
      <div class="border border-black p-2 pt-3 mt-1 ms-3 mb-4 d-flex gap-1 justify-content-evenly position-relative align-items-center " style="width: 86.5%;">
      <p class="position-absolute px-2 bg-white fit-content" style="z-index: 2; top: -0.8em; left: 1em">Diet Period*</p>
  
      <app-datepicker-range-popup
        [dateRange]="selectedDietsDateRange"
        (DateRangeChange)="onPeriodChange($event)"
        [minDate]="minDietStartDiet"
        [disabled]="selectedDiets.length==0"
      ></app-datepicker-range-popup>
    </div>
    
    @if (selectedDiets.length > 0 && (myForm.get('diet')?.value?.dateRange?.length != 2 || !myForm.get('diet')?.value?.dateRange?.[1])) {
      <div style="margin-top: -1rem" class="mb-3 text-danger d-flex align-content-center  "><mat-icon class="text-danger" style="font-size: 18px;margin-top: 0.1rem;">error_outline</mat-icon><p>Diet Period is <strong> required</strong></p></div>
    
    }
  }
    <div style="margin-top: -1rem" class="mb-3 d-flex align-content-center"><mat-icon style="font-size: 18px;margin-top: 0.1rem;">error_outline</mat-icon><p>Diet affection require the patient to be hospitalized! please choose a UnitCare first!</p> </div>
  </div>
  
</form>
