<h2 mat-dialog-title>Add New Unit Care</h2>
<mat-dialog-content>
  <form [formGroup]="FormData" role="form">
    <div class="form-row">
      <mat-form-field class="form-column">
        <mat-label> title</mat-label>
        <input matInput [(ngModel)]="title" />
      </mat-form-field>
      <mat-form-field class="form-column">
        <mat-label> Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="description"
        ></textarea>
      </mat-form-field>

       <!-- Input field to select images -->
       <mat-form-field class="form-column">
        <mat-label>Select-image</mat-label>
        <input matInput [formControl]="imageControl" [matAutocomplete]="auto"  [value]="selectedImage">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let image of staticImages" [value]="image">
            <img [src]="image" alt="image" style="height: 30px; width: 30px; margin-right: 5px;" />
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <hr />

    <div>
      <h2 mat-dialog-title>add Room</h2>
    </div>

    <div class="form-row" *ngFor="let room of getRooms(); let i = index">
      <!-- <label for=""> Room {{i}}</label> -->

      <mat-form-field class="form-column">
        <mat-label>Room-Number</mat-label>
        <input matInput [formControl]="$any(room)" NumbersOnly />
      </mat-form-field>

      <mat-form-field
        [color]="colorControl.value!"
        [formControl]="$any(room)"
        class="form-column"
      >
        <mat-label>Status</mat-label>
        <mat-select [formControl]="colorControl">
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-row">
        <button
          class="float-left"
          mat-icon-button
          color="warn"
          aria-label="Remove/clear"
          (click)="deleteItem(i)"
          matTooltip="Remove"
        >
          <mat-icon>highlight_off</mat-icon>
        </button>

        <button
          class="float-left"
          mat-icon-button
          color="primary"
          aria-label="Add"
          (click)="addItem()"
          matTooltip="Add"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit(FormData.value)">
    Submit
  </button>
  <button mat-raised-button color="warn" (click)="onCancelClick()">
    Cancel
  </button>
</mat-dialog-actions>
