.fit-content {
  width: fit-content;
  height: fit-content;
}

.w-fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-group-days {
  position: relative;
  width: 6rem;
}

.input-days {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px; /* Adjust as needed */
}

.hourCircleBtn {
  border-radius: 2rem;
  padding: 0.2rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin-right: 0.05rem;
}
