<div [ngClass]="containerClass" [ngStyle]="containerStyle">
  <div [ngClass]="CardBodyClass">
    <h4 [ngClass]="CardTitleClass">{{ title }}</h4>
    <ul [ngClass]="ULClass">
      @for(medication of medicationList;track $index){
      <li>
        <div class="mb-0 content-limit-vw">
          <div [ngClass]="TitleAndIconsClass">
            <span
              (click)="canEdit && onClickEditMedication($index, medication)"
              style="cursor: pointer"
              class="d-flex justify-content-start align-middle align-items-center"
            >
              {{ medication.name }}
              @if(canEdit){<mat-icon class="fs-6">edit</mat-icon>} </span
            >@if(canDelete){<mat-icon
              class="fs-6 text-danger"
              (click)="onClickRemoveMedication($index, medication)"
              style="cursor: pointer; margin-left: -0.5rem"
              >delete</mat-icon
            >}
          </div>
          <p class="fw-light fs-6 text-dark mb-0">
            {{
              medication.consumptionDays == -1
                ? "Permanent"
                : medication.consumptionDays + " Days"
            }}
            <span style="font-size: small">
              {{
                medication.startDate.getDate() +
                  "/" +
                  medication.startDate.getMonth() +
                  1 +
                  "/" +
                  medication.startDate.getFullYear()
              }}</span
            >
          </p>

          <p
            class="text-dark fw-bold"
            style="font-size: small; margin-top: -0.2rem"
          >
            {{ medication.dispenseValue + " " + medication.dispenseUnit }}
            @if(medication.administrationHours.size>0){
            {{ getNewlyPrescribedMedicationSig(medication) }}
            }
          </p>
          @if(medication.dispenseCaution){
          <p class="text-danger" style="margin-top: -0.7rem">
            <span class="text-dark fw-semibold">caution :</span>
            {{ medication.dispenseCaution }}
          </p>
          } @if(WarningText){
          <p class="fw-bold text-danger" style="margin-top: -0.7rem">
            {{ WarningText }}
          </p>
          } @if(primaryText){
          <p class="fw-bold" style="margin-top: -0.7rem">
            {{ primaryText }}
          </p>
          }
        </div>
      </li>
      }
    </ul>
  </div>
</div>
