<!-- Tools bar (report issue, forward ...) -->
<div class="d-sm-flex justify-content-between align-items-start">
  <div>
    <h4 class="card-title card-title-dash">Prescription</h4>
    <p class="card-subtitle card-subtitle-dash">View Prescriptions</p>
  </div>

  <div class="btn-wrapper">
    <a href="#" class="btn btn-outline-primary align-items-center"><i class="fa fa-paper-plane"></i> Forward</a>
    <a href="#" class="btn btn-outline-primary align-items-center"><i class="icon-printer"></i> Export PDF</a>
    <span class="btn btn-primary text-white align-items-center" (click)="onClickNewPrescription()"> <i class="fa fa-qrcode" aria-hidden="true"></i> New Prescription </span>
    <a href="#" class="btn btn-primary text-white align-items-center" [routerLink]="['/', 'eScript']" routerLinkActive="active">
      <i class="fa fa-qrcode" aria-hidden="true"></i> eScript (electronic prescription)
    </a>
    <a href="#" class="btn btn-danger text-white align-items-center" [routerLink]="['/', 'report-issue-csv']" style="border-color: red">
      <i class="fa fa-flag" aria-hidden="true"></i> Report an issue
    </a>
  </div>
</div>
<!-- content -->
<div class="wizard-container" style="height: 490px; overflow-y: auto">
  <!-- If no prescription is selected: Search + table part -->
  <div [className]="selectedPrescription != undefined && 'd-none'">
    <!-- Search prescription -->
    <div class="form-group d-flex gap-3 col-lg-5 mx-auto mt-2 mb-0 align-content-center align-items-center">
      <input [disabled]="isLoading" type="text" class="form-control form-control-sm" name="" id="" aria-describedby="helpId" [(ngModel)]="searchTerm" placeholder="Enter Id or Patient Name" />
      <input [disabled]="isLoading" name="" id="" class="btn btn-outline-primary m-0" type="button" value="Search" />
      <i class="fa fa-refresh" id="refresh-icon" aria-hidden="true" title="Refresh" (click)="onClickRefresh()"></i>
    </div>
    <!-- Search result : Table of prescriptions -->
    @if(isLoading == false){
    <table class="table table-responsive">
      <thead>
        <tr id="table-head-row">
          <th class="col-1">Medical Record ID</th>
          <th class="col-1">Prescription ID</th>
          <th class="col-3">Patient Name</th>
          <th class="col-2">Prescription Status</th>
          <th class="col-2">Patient Status</th>
          <th class="col-2">Doctor Name</th>
          <th class="col-2">Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let register of registrations; let i = index">
          @if(register.prescriptions && register.prescriptions.length>0){
          <tr *ngFor="let prescription of register.prescriptions" (click)="onClickPrescription(prescription)">
            <td class="col-1">{{ register.id.slice(-10) + "..." }}</td>
            <td class="col-1">{{ prescription.id.slice(-10) + "..." }}</td>
            <td class="col-3">{{ register.patient.firstName + " " + register.patient.lastName }}</td>
            <td class="col-2">{{ getPrescriptionStatus(prescription) }}</td>
            <td class="col-2">{{ getRegisterStatus(register) }}</td>
            <td class="col-2">{{ "After AZURE" }}</td>
            <td class="col-2">{{ getDateString(prescription.createdAt) }}</td>
          </tr>
          }</ng-container
        >
      </tbody>
    </table>
    } @if(isLoading && isFailedToLoad==false){
    <div class="mx-auto pe-5 mt-5" style="width: fit-content"><mat-spinner></mat-spinner></div>
    }
    @if(isFailedToLoad==true){
      <div class="mx-auto pe-5 mt-5" style="width: fit-content">Error in fetching prescriptions after several retries, please click on retry</div>
    }
  </div>

  <!-- If one prescription is selected:display result -->
  @if (selectedPrescription) {
  <!-- Print a single line displaying Prescription id | Date | Patient name | doctor name And Deselect Button -->
  <div class="d-flex gap-2 justify-content-center" style="height: 2rem">
    <p class="align-self-center m-0">Selected Prescription :</p>
    <span class="text-primary fw-bold align-self-center"> Id : {{ selectedPrescription.id.slice(-10) + "..." }} | {{selectedRegister?.patient?.firstName}} {{selectedRegister?.patient?.lastName}} {{  getAge(selectedRegister?.patient?.dateOfBirth) }}</span>
    <mat-icon class="align-self-center text-danger fw-bold" (click)="onClickDeselectPrescription()">close</mat-icon>
  </div>
  <!-- Display Prescription details component -->
  <div>Prescription Details here (TODO)</div>

  <ul class="list p-1 m-0 ps-3">

    <li *ngFor="let posology of selectedPrescription.posologies;let $index = index;">
      <div class="mb-0">
        <div class="fw-bold fs-6 text-primary mb-0 d-flex justify-content-start align-middle align-items-center">
          <span style="cursor: pointer" class="d-flex justify-content-start align-middle align-items-center">
            {{ posology.medicationId.length > 20 ? posology.medicationId.slice(0, 20) + "..." : posology.medicationId}}
          </span>
        
        </div>
        <p class="fw-light fs-6 text-dark mb-0">
          {{ posology.isPermanent===true ? "Permanent" : getNumberOfDaysInRange([posology.startDate, posology.endDate]) + " Days" }}
          <span style="font-size: small">{{ getDateString(posology.startDate, "dd/mm/yyyy") }}</span>
          @if (posology.isPermanent ===false) {
          <span style="font-size: small">{{ " - " + getDateString(posology.endDate!, "dd/mm/yyyy") }}</span>
          } @if (getPosologySummary(posology).numberOfCautions > 0) {
          <span style="position: relative; margin-left: 6px">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span class="icon-counter">{{ getPosologySummary(posology).numberOfCautions }}</span>
          </span>
          } @if (getPosologySummary(posology).numberOfComments > 0) {
          <span style="position: relative; margin-left: 8px">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <span class="icon-counter">{{ getPosologySummary(posology).numberOfComments }}</span>
          </span>
          }
        </p>

        <p class="text-dark fw-bold" style="font-size: small; margin-top: -0.2rem">
          <!--  {{ medication.dispenseValue + " " + medication.dispenseUnit }} -->
          @if (true) {
          {{ getPosologySummary(posology).timesADay }}
          <!--   {{ getPosologySummary(posology).average }} units on avg | -->
          max dose: {{ getPosologySummary(posology).maximumDispenseQuantity }}
          }
        </p>
        <!--                   @if (medication.isForceOrder) {
              <p class="fw-bold text-danger" style="margin-top: -0.7rem">External order</p>
            } -->
      </div>
    </li>
    
  </ul>
  <button (click)="navigateToUpdatePrescription(selectedPrescription,selectedRegister)">Update prescription</button>
  }
</div>
<app-snack-bar-messages></app-snack-bar-messages>