h3 {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Couleur du texte */
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 10px; /* Espacement intérieur */
  text-align: center; 
  }
pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

ng-template{
  font-size: 8px; 
}
.small-modal-body {
 width: 200px; /* ou toute autre valeur de largeur souhaitée */
 height:200px; /* ou toute autre valeur de hauteur souhaitée */
 overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */

  margin: 0%;
}

.btn {
  border-radius: 5px; /* Bordures arrondies pour tous les boutons */
}
.btn-ok{
  background-color:rgb(195, 189, 189)
}
.btn-ok:hover {
  background-color: lightgreen; /* Couleur lorsque le curseur survole le bouton OK */
}
.btn-cancel{
  background-color:rgb(195, 189, 189),

}
.btn-cancel:hover {
  background-color: lightcoral; /* Couleur lorsque le curseur survole le bouton Cancel */
}
.close{
  background-color: rgb(213, 56, 56);
}

.example-chip-list {
  width: 100%;
}

.modal-dialog {
  max-width: 500px; 
  
}

.modal-content {
  padding:2px; 
}

.red-icon {
  color: red; /* Définit la couleur de l'icône en rouge */
}


.modal-body {
  max-height: calc(100vh - 200px); 
  padding: 3px;
  overflow-x: hidden; 
}
.modal-header{
  padding: 10px;
}


.example-chip-list {
  width: 100%;
  

}


.delete-icon {
  color: red; /* Couleur rouge pour l'icône "delete" */
}

.edit-icon {
  color: green; /* Couleur verte pour l'icône "edit" */
}

.mat-form-field {
  margin-right: 12px;
}
.form-group {
  margin-bottom: 0px; 

}


.modal-dialog {
  max-width: unset !important; /* Définit la largeur maximale de la fenêtre modale */
  margin: 30px auto; /* Centre la fenêtre modale */

}
.modal-dialog.modal-sm {
  max-width: 300px; /* Définit la largeur maximale de la fenêtre modale */
}


.modal-body {
  max-height: none; /* Permet à la fenêtre modale de s'adapter dynamiquement à la taille du contenu */
  overflow-y: auto; /* Active uniquement la barre de défilement verticale si nécessaire */
}

.confirmation-alert {
  background-color: #f8d7da; /* Couleur de fond rouge */
  border-color: #f5c6cb; /* Couleur de bordure rouge */
  color: #721c24; /* Couleur du texte rouge foncé */
}
section {
  display: table;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
  padding: 0;
}

.example-button-row .mat-mdc-button-base {
  margin:4px 4px 4px 0;
}
.form-control {
  background-color: #F2F6FF;
}
.styleduration{
  background-color: #F2F6FF; /* Couleur de fond personnalisée */
  border-color: #fff; /* Couleur du cadre blanc */
}

.example-radio-button.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1976d2; /* Couleur de sélection en bleu */
}

.radio-inline {
  display: inline-block;
  margin-right: 10px; /* Espacement entre les boutons radio */
  
}

.row.mb-3 > .col {
  display: flex;
}
.mr-2 {
  margin-right: 10px; /* Marge de 10 pixels */
}
.duration-select {
  width: 100px; /* Largeur de la barre de sélection */
}

.description-input {
  flex: 1; /* Le champ de texte occupe tout l'espace disponible */
  width: auto; /* Réinitialisez la largeur automatique */
}

.styleform {
  margin-bottom: 2px;
  padding: 5px 8px;
} 






.example-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #1976d2; /* Couleur de l'intérieur du cercle en bleu */
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.btn-patient{
  border-radius: 10px;
  background-color:rgb(170, 207, 234)
    
}




