<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div #todayButton
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view" >
  <mwl-calendar-month-view 
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEventClick($event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEventClick($event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view  
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
<!-- <button class="btn btn-primary float-end" (click)="addEvent()">
  Add new
</button> -->
<br /><br /><br />

<!-- <h3>Edit events</h3>
<div class="clearfix"></div>
<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary + text color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>




    <tr *ngFor="let event of events">
      <td>
        <input
          type="text"
          class="form-control"

          [(ngModel)]="event.title"
          (keyup)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          *ngIf="event.color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          *ngIf="event.color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()"
        />
        <input
          type="color"
          *ngIf="event.color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <td>


        <button class="btn btn-danger" (click)="deleteEvent(event)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table> -->

<!-- <ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template> -->
<ng-template #modalContent let-close="close"  >
  <div >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-calendar-plus"></i> {{ modalTitle }}</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="modalAction === 'get' || modalAction === 'delete'">
          <!-- Affichage des données récupérées ici -->
          <div >
            <h5>{{ modalData.event.title }}</h5>
            <p><strong>Start Date:</strong> {{ modalData.event.start }}</p>
            <p><strong>End Date:</strong> {{ modalData.event.end }}</p>
            <p><strong>patient:</strong> {{ modalData.event.patient }}</p>
            <p><strong>repetition:</strong> {{ modalData.event.repetition }}</p>
            <p><strong>treatment:</strong> {{ modalData.event.treatment }}</p>
          </div>
        
        </div>
          <!-- Formulaire d'ajout -->
          <div *ngIf="modalAction === 'add'">
           <div class="styleform">
             
            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <label for="medecin"> <i class="fa-solid fa-user"></i> <b> Dr.Ahmed </b></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <section>
                    <div class="example-button-row" aria-label="Fish selection">
                      <button mat-raised-button  color="primary" class="btn-patient" [style.background-color]="button1Color2" [style.color]="button1Text2" (click)="changeButtonColors2(1)" >Known patient</button>
                      <button mat-raised-button class="btn-patient" [style.background-color]="button2Color2" [style.color]="button2Text2" (click)="changeButtonColors2(2)">New patient</button>
                    </div>
                  </section>
                  <!-- <div *ngIf="addpatientField" >
                    <input type="texte" class="form-control description-input" [(ngModel)]="selectedname" placeholder="Search for a patient...">
                  </div> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <input type="text" class="form-control" placeholder="Search for a patient..." [(ngModel)]="searchQuery" (input)="search()">
                </div>
              </div>
            </div>
            <div *ngIf="searchQuery.length > 0 ">
              <ul>
                <li *ngFor="let patient of filteredPatients">
                  {{ patient.nom }} {{ patient.prenom }}
                </li>
              </ul>
            </div>
            <div class="form-group" *ngIf="showNewPatientField">
              <div class="row mb-3"> 
                <div class="col">
                  <input type="text" class="form-control" placeholder="add a patient...">
                </div>
              </div>
            </div>
            
            
          
            
            <!-- <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <select type="text" class="form-control" placeholder="Search for a patient..." [(ngModel)]="searchQuery" (input)="search()"[(ngModel)]="searchQuery" (input)="search()">
                    <option *ngFor="let patient of filteredPatients" [value]="patient">
                      {{ patient.nom }} {{ patient.prenom }}
                    </option>
                  </select>
                  </div>
              </div>
            </div> -->
           
            
            
            
            
           
            
            

            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <label ><i class="fa-solid fa-circle-info"></i><b> Type of appointment</b> </label>
                </div>
              </div>
            </div>
           
            <div class="form-group ">
              <div class="row mb-3"> 
                <div class="col">
                  <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option color="primary" selected style="display: inline-block;">First consultation</mat-chip-option>
                    <mat-chip-option color="accent" style="display: inline-block;">Follow-up </mat-chip-option>
                    <mat-chip-option color="warn" style="display: inline-block;">Emergency</mat-chip-option>
                  </mat-chip-listbox>
                </div>
              </div>
            </div>
          
            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <label  class="radio-inline form-check-label">
                    <input class="form-check-input" type="radio" name="option" value="clinic"> At the clinic
                  </label>
                  <label class="radio-inline form-check-label">
                    <input class="form-check-input" type="radio" name="option" value="video"> In video
                  </label>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <select class="form-control duration-select mr-2">
                    <option value="20">20 min</option>
                    <option value="30">30 min</option>
                    <option value="60">60 min</option>
                    <option value="other">Autre</option>
                  </select>
                  
                  <input type="text" class="form-control description-input" placeholder="Add description...">
                </div>
              </div>
            </div>
      
            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <label><i class="fa-solid fa-calendar-days"></i><b> Selected Date: {{ selectedDate | date }}</b></label>
                </div>
              </div>
            </div>
            

            <!-- <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <div class="example-button-row">
                    <button mat-raised-button color="primary" class="btn-patient" >Availability</button>
                    <button mat-raised-button class="btn-patient">Now</button>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <div class="row mb-3"> 
                <div class="col">
                  <div class="example-button-row">
                    <button mat-raised-button class="btn-patient"  [style.background-color]="button1Color" [style.color]="button1Text" (click)="changeButtonColors(1)">Availability</button>
                    <button mat-raised-button class="btn-patient" [style.background-color]="button2Color"  [style.color]="button2Text" (click)="changeButtonColors(2)">Now</button>
                  </div>
                  <div *ngIf="showAvailabilityField" class="availability-field">
                    <input type="time" id="availability-time" class="form-control description-input" [(ngModel)]="selectedTime">
                  </div>
                  
                  
                </div>
              </div>
            </div>
            
          
           </div>
            
          </div>
         
          
          <!-- <button type="button" class="btn btn-ok" (click)="saveFormData()">
            <i class="fa-pencil-alt">ghfhfh</i>
          </button> -->
          
        
        <!-- Formulaire de modification -->
        <div *ngIf="modalAction === 'edit'">
          <div class="form-group">
            <div class="row mb-3"> 
              <div class="col" >
                <label for="startDate"><i class="far fa-calendar-alt"></i> Start Date and Time</label>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  id="startDate"
                  [(ngModel)]="modalData.event.start"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="d/m/Y H:i" 
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                />
              </div>
              <div class="col">
                <label for="endDate"><i class="far fa-calendar-alt"></i> End Date and Time</label>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  id="endDate"
                  [(ngModel)]="modalData.event.end"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="d/m/Y H:i" 
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                />
              </div>
            </div>
          </div>
        </div>
        



      </div>
      <div class="modal-footer">
        <!-- Bouton pour fermer le modal -->
        <button type="button" class="btn btn-cancel" (click)="close()"><i class="fas fa-times"></i> Cancel</button>
        <!-- Bouton dynamique en fonction de l'action -->
        <button type="button" class="btn btn-ok" (click)="performAction()">
{{ modalbutton }}
         
        </button>
      </div>
      
    </div>
  </div>
</ng-template>
