<form class="container d-flex mt-5 card p-3 pt-4 shadow-lg gap-1">
  <chips-select
    [ObjectName]="'Symptom'"
    [customLabel]="'Symptoms'"
    class="w-100"
    (selectedChipsChange)="selectedChipsChange($event)"
  ></chips-select>

  <div class="card-body">
    <app-dynamic-multiple-selects
      [multiSelectInputs]="multiSelectInputs"
      [class]="''"
      (selectedInputsChange)="selectedInputsChange($event)"
    ></app-dynamic-multiple-selects>
  </div>

  <div class="mb-3">
    <div
      class="d-flex justify-content-center align-items-center gap-sm-3 gap-md-5 p-0"
    >
      <p class="fs-6">Start Date<span class="text-danger fw-bold">*</span></p>
      <date-picker customTitle="Choose start date"></date-picker>
    </div>
  </div>

  <!-- TODO: This is for server side, there is another version for browser defaults -->
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">
1600 Amphitheatre Pkwy</textarea
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Address 2</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <input matInput placeholder="Ex. San Francisco" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>State</mat-label>
    <input matInput placeholder="Ex. California" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Postal Code</mat-label>
    <input
      matInput
      #postalCode
      maxlength="5"
      placeholder="Ex. 94105"
      value="94043"
    />
    <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
  </mat-form-field>
</form>
<div class="py-5 container"></div>
