<h2 mat-dialog-title>Column Mapping</h2>
<div mat-dialog-content>
  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn1">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn1">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings1[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn2">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn2">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings2[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn3">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn3">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings3[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn4">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn4">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings4[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn5">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn5">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings5[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn6">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn6">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings6[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn7">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn7">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings7[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn8">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn8">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings8[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn9">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn9">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings9[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 1: Column Mapping Dialog -->
  <div>
    <mat-form-field>
      <mat-label>Select Excel Column:</mat-label>
      <mat-select [(ngModel)]="selectedExcelColumn10">
        <mat-option *ngFor="let column of getUniqueExcelColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Displayed Column:</mat-label>
      <mat-select [(ngModel)]="selectedDisplayedColumn10">
        <mat-option *ngFor="let column of getUniqueDisplayedColumns()" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="mapColumns()">Map</button>
    <button mat-button (click)="onSaveMapping()">Save Mapping</button>
  </div>

  <!-- Section 2: Column Mapping -->
  <div>
    <div *ngFor="let header of headers">
      <label>{{ header }}</label>
      <select [(ngModel)]="columnMappings10[header]">
        <option *ngFor="let option of getUniqueOptions(header)" [value]="option">{{ option }}</option>
      </select>
    </div>
    
  </div>

  <div>
    <button mat-button (click)="finish()">Finish</button>
  </div>

</div>