<ol class="step-indicator">
  <li
    *ngFor="let step of steps"
    [ngClass]="getIndicatorClass(step)"
    (click)="SwitchToStep(step.id)"
    [ngStyle]="{ '--top': size / 2 + sizeUnit }"
  >
    <div class="step" [ngStyle]="style">
      <i [class]="step.iconClass"></i>
    </div>
    <div class="caption hidden-xs hidden-sm">
      @if(showSteps$WithTitle){Step <span>{{ step.id }}</span
      >:} <span>{{ step.title }}</span>
    </div>
  </li>
</ol>

<!--     <div *ngIf="currentStep == 1">
      <h1>Step 1</h1>
    </div>
    <div *ngIf="currentStep == 2">
      <h1>Step 2</h1>
    </div>
    <div *ngIf="currentStep == 3">
      <h1>Step 3</h1>
    </div> -->

<!--     <div *ngFor="let step of steps" [ngClass]="{ active: isActive(step) }">
      <button
        type="button"
        class="btn btn-primary"
        (click)="previousStep()"
        [disabled]="isFirstStep()"
      >
        Back
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="nextStep()"
        [disabled]="isLastStep()"
      >
        Next
      </button>
      <button type="submit" class="btn btn-primary" *ngIf="isLastStep()">
        Submit
      </button>
    </div> -->
