
<div class="col-12 grid-margin stretch-card" style="width: 30rem;" >
<div class="card">
        <div class="card-body">
            <apx-chart
            [series]="chart1options.series"
            [chart]="chart1options.chart"
            [colors]="chart1options.colors"
            [yaxis]="chart1options.yaxis"
            [dataLabels]="commonOptions.dataLabels"
            [markers]="commonOptions.markers"
            [stroke]="commonOptions.stroke"
            [grid]="commonOptions.grid"
            [xaxis]="commonOptions.xaxis"
            [tooltip]="commonOptions.tooltip"
            [title]="chart1options.title"
          ></apx-chart>
          <apx-chart
            [series]="chart2options.series"
            [chart]="chart2options.chart"
            [colors]="chart2options.colors"
            [yaxis]="chart2options.yaxis"
            [dataLabels]="commonOptions.dataLabels"
            [markers]="commonOptions.markers"
            [stroke]="commonOptions.stroke"
            [grid]="commonOptions.grid"
            [xaxis]="commonOptions.xaxis"
            [tooltip]="commonOptions.tooltip"
            [title]="chart2options.title"
          ></apx-chart>
          <apx-chart
            [series]="chart3options.series"
            [chart]="chart3options.chart"
            [colors]="chart3options.colors"
            [yaxis]="chart3options.yaxis"
            [dataLabels]="commonOptions.dataLabels"
            [markers]="commonOptions.markers"
            [stroke]="commonOptions.stroke"
            [grid]="commonOptions.grid"
            [xaxis]="commonOptions.xaxis"
            [tooltip]="commonOptions.tooltip"
            [title]="chart3options.title"
          ></apx-chart>
          <apx-chart
          [series]="chart4options.series"
          [chart]="chart4options.chart"
          [colors]="chart4options.colors"
          [yaxis]="chart4options.yaxis"
          [dataLabels]="commonOptions.dataLabels"
          [markers]="commonOptions.markers"
          [stroke]="commonOptions.stroke"
          [grid]="commonOptions.grid"
          [xaxis]="commonOptions.xaxis"
          [tooltip]="commonOptions.tooltip"
          [title]="chart4options.title"
        ></apx-chart>
    </div>
    </div>
    
<div class="col-lg-6 d-flex flex-column"  style="margin-left: 30px;">
    <div class="row flex-grow">
 
            <div class="card card-rounded">
              <div class="card-body">
  
                <div >
                    <apx-chart
                      [series]="chartOptions1circle.series"
                      [chart]="chartOptions1circle.chart"
                      [plotOptions]="chartOptions1circle.plotOptions"
                      [labels]="chartOptions1circle.labels"
                    ></apx-chart>
                    <apx-chart
                    [series]="chartOptions2circle.series"
                    [chart]="chartOptions2circle.chart"
                    [plotOptions]="chartOptions2circle.plotOptions"
                    [labels]="chartOptions2circle.labels"
                  ></apx-chart>
                  </div>

                </div>
            </div>

   

    </div>

</div>

</div> 
 
    

