<div>
    <app-medications-liste [medicationData]="medicationData"
></app-medications-liste>
</div>
<div style="margin-top: 20px;"></div>
<div>
    <app-medications-in-rupture [medicationsInRupture]="medicationsInRupture" [medicationData]="medicationData"></app-medications-in-rupture>
</div>
<div style="margin-top: 20px;"></div>
<!-- <app-medications-consommation
[medicationsDataprescription]="medicationsDataprescription"
></app-medications-consommation> -->
<div style="margin-top: 20px;"></div>
<app-armoire-medicament [medicationArmoireStock]="medicationArmoireStock"></app-armoire-medicament>
