<div>
  <form>
    <mat-form-field class="example-chip-list" >
      <mat-label>Favorite Units</mat-label>
      <mat-chip-grid #chipGrid aria-label="Unit selection" >
        <mat-chip *ngFor="let unit of units; trackBy: trackByFn" (removed)="remove(unit)">
          {{unit.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-grid>
      <input placeholder="New Unit..." #unitInput [formControl]="unitCtrl"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"/>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
        <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit">
          {{unit.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div *ngIf="selectedUniteSoin"> 
  <app-multisense-widget></app-multisense-widget>
 </div>