
<div class="table-responsive">
    <table  class="table table-borderless">
    <thead>
        <tr>
            <th scope="col"></th>
            @for (hour of targetHours; track $index) {
                <th scope="col">{{hour}}H</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (room of uniqueroom; track room) {
        <tr>
            <th>
                {{room}}
            </th>
            <td >
                @for (element of data_list; track element) {
                @if (element.room === room) {
                @for (medicine of getMedicineByHour(targetHours[0],element.patient); track medicine) {
                @for (posology of medicine.posology; track posology) {
                <ul class="chart-row-bars">
                    <li class="chart-li-one" style="display: inline-block; size: 10px;" >
                        <div> name:{{element.patient}}/ bed:{{element.bed}}</div>
                        
                        <div> {{ medicine.name}} /{{calculateQuantity(posology[$index].quantityBE,posology[$index].quantityAE)}}
                        </div>
                    </li>
                </ul>
                }}
                }
                }
            </td>
            <td >
                @for (element of data_list; track element) {
                @if (element.room === room) {
                @for (medicine of getMedicineByHour(targetHours[1],element.patient); track medicine) {
                @for (posology of medicine.posology; track posology) {
                <ul class="chart-row-bars">
                    <li class="chart-li-one" style="display: inline-block;">
                        <div> name:{{element.patient}}/ bed:{{element.bed}}</div>
                        <div> {{ medicine.name}} /{{calculateQuantity(posology[$index].quantityBE,posology[$index].quantityAE)}}
                        </div>
                    </li>
                </ul>
                }}
                }
                }
            </td>
            <td >
                @for (element of data_list; track element) {
                @if (element.room === room) {
                @for (medicine of getMedicineByHour(targetHours[2],element.patient); track medicine) {
                @for (posology of medicine.posology; track posology) {
                <ul class="chart-row-bars">
                    <li class="chart-li-one" style="display: inline-block;">
                        <div> name:{{element.patient}}/ bed:{{element.bed}}</div>
                        <div> {{ medicine.name}} /{{calculateQuantity(posology[$index].quantityBE,posology[$index].quantityAE)}}
                        </div>
                    </li>
                </ul>
                }}
                }
                }
            </td>
            <td >
                @for (element of data_list; track element) {
                @if (element.room === room) {
                @for (medicine of getMedicineByHour(targetHours[3],element.patient); track medicine) {
                @for (posology of medicine.posology; track posology) {
                <ul class="chart-row-bars">
                    <li class="chart-li-one" style="display: inline-block;">
                        <div> name:{{element.patient}}/ bed:{{element.bed}}</div>
                        <div> {{ medicine.name}} /{{calculateQuantity(posology[$index].quantityBE,posology[$index].quantityAE)}}
                        </div>
                    </li>
                </ul>
                }}
                }
                }
            </td>



        </tr>

        }
    </tbody>
</table>
</div>