<div class="t-comments-box"  style="height: auto;">
  <div class="t-comments-border">
  <div class="add-comment">
    <div class="comment-input" style="margin-bottom: 1%;">
      <input
        #commentInput
        class="form-control form-control-sm"
        type="text"
        placeholder="Add a comment.."
        (keydown.enter)="onCommentsend(commentInput)"
       />
    </div>
  </div>
 
  @for (item of note; track $index) {
  <div class="comment comment-level-1" >
    <div style="text-align: left; margin-left: 4%;">
      <div class="comment-label">
        <span class="comment-name">Uchiha Itachi</span>
        <span class="comment-time"> - 5 days ago</span>
      </div>
      <div class="comment-content">
        {{ note[$index].content}}
      </div>
      <div class="comment-action">
      </div>
    </div>
  </div>
}
</div>
</div>

  