.t-comments-box {
  padding: 0.5rem;
}

.t-comments-border {
  padding: 0.5rem; 
}


.t-comments-box .comment-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.1rem;
  color: #263843;
  border-bottom: 1px solid #c3ccd3;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  max-width: 400px;
}

.t-comments-box img {
  width: 50px;
  height: 50px;
  border-radius: 0.2rem;
  margin-right: 1rem;
}

.t-comments-box .add-comment {
  display: flex;
}

.t-comments-box .add-comment .comment-input {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.t-comments-box .add-comment .comment-input input {
  height: 100%;
  width: 100%;
  padding-right: 2.5rem;
}

.t-comments-box .add-comment .comment-input input::placeholder {
  color: #c3ccd3;
}

.t-comments-box .add-comment .comment-input .comment-send {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 35px;
  height: 100%;
  border-radius: 0.2rem;
  color: #ffcc80;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.t-comments-box .add-comment .comment-input .comment-send:hover {
  color: #ff9800;
}

.t-comments-box .comment {
  display: flex;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.t-comments-box .comment .comment-label {
  line-height: 1;
}

.t-comments-box .comment .comment-label .comment-name {
  font-weight: 500;
  font-size: 0.85rem;
  color: #292929;
}

.t-comments-box .comment .comment-label .comment-time {
  font-weight: 100;
  color: #768791;
}

.t-comments-box .comment .comment-content {
  color: #768791;
  margin-top: 0.1rem;
}

.t-comments-box .comment .comment-action {
  color: #c3ccd3;
  line-height: 1.2;
}

.t-comments-box .comment .comment-action span {
  margin-right: 1rem;
}

.t-comments-box .comment-level-2 {
  margin-left: calc(50px + 1rem);
}

.t-comments-box .comment-level-3 {
  margin-left: calc((50px + 1rem) * 2);
}
