<!--
<div class="container responsive-grid">

  <mat-card  *ngFor="let card of cards()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ card.title }}</mat-card-title>

      <div class="card-actions">
        <button mat-icon-button aria-label="Edit" id="test">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete_forever" color="warn">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p>{{ card.description }}</p>

      <mat-card  *ngFor="let room of rooms()" class="rooms">
        <mat-card-content >
          <p>{{ room.Number }}</p>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
</div> -->

<div class="d-flex">

  <app-side-rooms></app-side-rooms>

  <div>
    <div class="add-button-container">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a add icon"
        class="add-button"
        (click)="openAddDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Unit 1</h4>
                <div class="card-actions">
                  <button mat-icon-button aria-label="Edit" id="test">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    aria-label="delete_forever"
                    color="warn"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
                <p class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                  ab!
                </p>
                <div class="template-demo">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                </div>
                <hr />
                <div class="template-demo">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-secondary">
                    Secondary
                  </button>
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                  <button type="button" class="btn btn-warning">Warning</button>
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-light">Light</button>
                  <button type="button" class="btn btn-dark">Dark</button>
                  <button type="button" class="btn btn-link">Link</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Unit 2</h4>
                <div class="card-actions">
                  <button mat-icon-button aria-label="Edit" id="test">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    aria-label="delete_forever"
                    color="warn"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
                <p class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                  ab!
                </p>
                <div class="template-demo">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                </div>
                <hr />
                <div class="template-demo">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-secondary">
                    Secondary
                  </button>
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                  <button type="button" class="btn btn-warning">Warning</button>
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-light">Light</button>
                  <button type="button" class="btn btn-dark">Dark</button>
                  <button type="button" class="btn btn-link">Link</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Line chart</h4>
                <div class="card-actions">
                  <button mat-icon-button aria-label="Edit" id="test">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    aria-label="delete_forever"
                    color="warn"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
                <p class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                  ab!
                </p>
                <div class="template-demo">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                </div>
                <hr />
                <div class="template-demo">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-secondary">
                    Secondary
                  </button>
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                  <button type="button" class="btn btn-warning">Warning</button>
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-light">Light</button>
                  <button type="button" class="btn btn-dark">Dark</button>
                  <button type="button" class="btn btn-link">Link</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Line chart</h4>
                <div class="card-actions">
                  <button mat-icon-button aria-label="Edit" id="test">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    aria-label="delete_forever"
                    color="warn"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
                <p class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                  ab!
                </p>
                <div class="template-demo">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    style="width: 50px"
                    alt="Avatar"
                  />
                </div>
                <hr />
                <div class="template-demo">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-secondary">
                    Secondary
                  </button>
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                  <button type="button" class="btn btn-warning">Warning</button>
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-light">Light</button>
                  <button type="button" class="btn btn-dark">Dark</button>
                  <button type="button" class="btn btn-link">Link</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
