<form>
  <mat-form-field class="example-chip-list" class="{{ class }}">
    <mat-label @if(customLabel)>{{ customLabel }}</mat-label>
    <mat-chip-grid #chipGrid aria-label="object selection ">
      @for (object of selectedObjects; track object) {
      <mat-chip-row (removed)="remove(object)">
        {{ object[searchPropertyName] }}
        <button
          matChipRemove
          [attr.aria-label]="'remove ' + object[searchPropertyName]"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      placeholder="Search..."
      #ValueInput
      [formControl]="ObjectControl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      (optionActivated)="setIsAdditionEnabled(false)"
      (closed)="setIsAdditionEnabled(true)"
    >
      @if(ValueInput.value.length >= minimumSearchLength){ @for (object of
      updatedSuggestionList ; track object) {

      <mat-option [value]="object" onselect="test()">{{
        object[searchPropertyName]
      }}</mat-option>
      } }
    </mat-autocomplete>
  </mat-form-field>
</form>
