<form>
  @if(isLoading){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
  <mat-form-field class="example-chip-list" class="{{ class }}">
    @if(customLabel){<mat-label>{{ customLabel }}</mat-label
    >}
    <mat-chip-grid #chipGrid aria-label="object selection ">
      @for (object of selectedChips; track object)
      {
        <mat-chip-row (removed)="remove(object)" [aria-description]="'test'" [title]="tooltipPropertyName ? object[tooltipPropertyName] : ''">
          @if(isViewImage(object))
          {
            <img matChipAvatar [src]="object[imagePropertyName]" />
          }

          {{ object[searchPropertyName] }}
          <button matChipRemove [attr.aria-label]="'remove ' + object[searchPropertyName]">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      #autoInput="matAutocompleteTrigger"
      placeholder="Search..."
      #ValueInput
      [formControl]="ObjectControl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      [disabled]="disabled || selectedChips.length>=maximumNumberOfAddedItems" 
    />
    <!-- TODO [disabled]="disabled" Remove this and Change to form.disable() -->
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" (optionActivated)="setIsAdditionEnabled(false)" (closed)="setIsAdditionEnabled(true)">
      @if(ValueInput.value.length >= minSearchLength)
      { 
        @for (object of updatedSuggestionList ; track object) 
        {
          <mat-option [value]="object">{{ object[searchPropertyName] }}</mat-option>
        } 
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
