<form [formGroup]="unitCareForm" (ngSubmit)="onSubmit()">
  <label class="form-label "> Title</label> <br>
  <input type="text" formControlName="Title" style="width: 400px"  class="form-control"/>

  <label class="form-label"> Type</label>
  <select class="form-select" formControlName="Type" style="width: 400px">
    <option selected disabled value="">Choose...</option>
    <option value="general">General</option>
    <option value="Intensive">Intensive</option>
    <option value="Coronary">Coronary</option>
    <option value="Surgical">Surgical</option>
    <option value="Pediatric">Pediatric</option>
    <option value="Obstetrics">Obstetrics</option>
  </select>

  <label class="form-label"> Description</label>
  <textarea
    class="form-control"
    formControlName="Description"
    style="height: 60px; width: 400px"
  >
 description
 </textarea
  >

  <div formArrayName="personnels">
    @for ( room of unitCareForm.controls.personnels.controls; track
    personnelIndex; let personnelIndex = $index ) {
    <div class="question" [formGroupName]="personnelIndex">
      <input
        type="text"
        formControlName="name"
        placeholder="name"
      />
    

    </div>
    }
  </div>




  <div formArrayName="rooms">
    @for ( room of unitCareForm.controls.rooms.controls; track
    roomIndex; let roomIndex = $index ) {
    <div class="question" [formGroupName]="roomIndex">
      <input
        type="number"
        formControlName="roomNumber"
        placeholder="Room number"
      />
      <span (click)="removeRoom(roomIndex)" class="remove">✗</span>
      <div formArrayName="equipments" class="answers">
        <div>equipments</div>
        @for ( room of
        unitCareForm.controls.rooms.controls.at(roomIndex)
        ?.controls?.equipments?.controls; track equipmentIndex; let equipmentIndex =
        $index ) {
        <div [formGroupName]="equipmentIndex" class="answer">
          <input type="text" placeholder="Answer" formControlName="text" />
          <span
            (click)="removeEquipment(roomIndex, equipmentIndex)"
            class="remove"
            >✗</span
          >
        </div>
        }
        <button
          type="button"
          class="add-answer"
          (click)="addEquipment(roomIndex)"
        >
          Add Equipment
        </button>
      </div>
    </div>
    }
  </div>
  <div class="add-question">
    <button (click)="addRoom()" type="button">Add Room</button>
  </div>
  <div><button type="submit">Submit</button></div>
</form>
