
.multiselect-dropdown .dropdown-btn {
  margin-right: 5px;
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
  font-family: bold;
	transition: .3s;
}

/* Pour les navigateurs WebKit (Chrome, Safari, etc.) */
.form-control::placeholder, .form-select::placeholder, .field::placeholder, textarea::placeholder {
  color: black !important;
  font-family: bold;
  opacity: 3 !important; /* Pour s'assurer que la couleur est bien appliquée */
}

/* Pour Mozilla Firefox */
.form-control:-moz-placeholder, .form-select:-moz-placeholder, .field:-moz-placeholder, textarea:-moz-placeholder {
  color: black !important;
  opacity: 3 !important;
}

/* Pour Mozilla Firefox */
.form-control::-moz-placeholder, .form-select::-moz-placeholder, .field::-moz-placeholder, textarea::-moz-placeholder {
  color: black !important;
  opacity: 1 !important;
}

/* Pour Microsoft Edge */
.form-control:-ms-input-placeholder, .form-select:-ms-input-placeholder, .field:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: black !important;
  opacity: 1 !important;
}

/* Pour Internet Explorer 10-11 */
.form-control::-ms-input-placeholder, .form-select::-ms-input-placeholder, .field::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: black !important;
  opacity: 1 !important;
}

/* Couleur de l'option désactivée dans le select */
select{
  color: black !important;
  font-family: bold !important;

}
