<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <div >
        <!-- Spinner component or loading animation -->
        <!-- <mat-spinner></mat-spinner> -->
      </div>
      <app-radialbar-charts 
        [chartOptionsCircle]="TemperatureOptionsCircle"/>
      <br />
      <app-radialbar-charts
      [chartOptionsCircle]="HumidityOptionsCircle"
      ></app-radialbar-charts>
    </div>
    <div class="col-md-3">
      <app-radialbar-charts
      [chartOptionsCircle]="LuminosityOptionsCircle"
      ></app-radialbar-charts>
      <br />
      <app-radialbar-charts
      [chartOptionsCircle]="ElectricityOptionsCircle"
      ></app-radialbar-charts>
    </div>

    <div class="col-md-6">
      <app-dashed
      [datatemp]="temperatureData"
      [datahum]="humidityData"
      [dataele]="electricityData"
      [datalum]="luminosityData"
      [datacateg]="categoriesData"
   ></app-dashed>

    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
  
  <app-column-charts [mostmedication]="mostUsedMedicationsByMonth"
  [leastmedication]="leastUsedMedicationsByMonth"
  [datacateg]="DateUsedMedicationsByMonth"
  ></app-column-charts>
    </div>
    <div class="col-md-6">
      <app-custom-data-labels-bar [jsonData]="Datastock"></app-custom-data-labels-bar>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <app-custom-angle-circle
      [checkin]="checkin" [checkout]="checkout" [register]="register"
      ></app-custom-angle-circle>
    </div>
  </div>
</div>
