<div class="container-fluid">

<app-detection-temp></app-detection-temp>
  <br />
  <div class="row">
    <div class="col-md-6">
  
  <app-column-charts [mostmedication]="mostUsedMedicationsByMonth"
  [leastmedication]="leastUsedMedicationsByMonth"
  [datacateg]="DateUsedMedicationsByMonth"
  ></app-column-charts>
    </div>
    <div class="col-md-6">
      <app-custom-data-labels-bar [jsonData]="Datastock"></app-custom-data-labels-bar>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <app-custom-angle-circle
      [checkin]="checkin" [checkout]="checkout" [register]="register"
      ></app-custom-angle-circle>
    </div>
  </div>
  <br>
  <div >
    <div >
      <app-scatter-charts
      [prescriptions]="Dataprescription"
      ></app-scatter-charts>
    </div>
  </div>
</div>
