<div class="container-fluid">

<app-multisense-enviroscan></app-multisense-enviroscan>
  <br />
  <div class="row">
    <div class="col-md-6">
      
  <app-tricheckcircle-progress
  [checkin]="checkin" [checkout]="checkout" [register]="register"
  ></app-tricheckcircle-progress>
    </div>
    <div class="col-md-6">
      <app-charts-liste-medstock [jsonData]="Datastock"></app-charts-liste-medstock>
    </div>
  </div>
  <br />
 
  <br>
  <div >
    <div >
      <app-charts-scatter-med
      [prescriptions]="Dataprescription"
      ></app-charts-scatter-med>
    </div>
  </div>
</div>
