<div [className]="containerClasses" style="min-height: 4.5rem">
  @if(!(hideSearchIfMaximumReached && hasReachedLimit)){
  <div class="search d-flex flex-column justify-content-center" style="min-width: 20rem">
    <div class="position-relative mt-1">
      <input
        type="text"
        placeholder="Search for medication"
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        class="form-control shadow-sm"
        style="border-color: rgb(238, 238, 238); height: 2.6rem"
      />
      <!-- test the input without [disabled]="selectedSearchTerm == undefined || selectedSearchTerm == null" -->
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <ng-container *ngFor="let medication of filteredMedications | async" class="d-flex align-items-center">
          <mat-option (onSelectionChange)="onChangeSelectedMedication(medication)" class="result">
            {{ getMedicationProperty(medication) }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <button mat-icon-button matSuffix class="position-absolute top-50 bg-transparent" style="right: 5px; transform: translateY(-41%); border: none">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <div style="width: fit-content" class="d-flex align-items-center">
    <mat-chip-listbox [value]="selectedSearchTerm" (change)="onSearchKeySelectionChange($event)">
      @for(searchTerm of searchTerms;track $index){
      <mat-chip-option [value]="searchTerm">{{ searchTerm.label }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  } @if (displaySelectedMedication && selectedMedications.length > 0) {
  <div class="border border-black pb-2 pt-3 px-2 mt-1 position-relative align-self-start">
    <p class="position-absolute px-2 bg-white fit-content" style="z-index: 2; top: -0.8em; left: 1em">Selected medication{{ selectedMedications.length > 1 ? "s" : "" }}:</p>
    <div *ngFor="let medication of selectedMedications; let index = index" class="container">
      <div class="d-flex justify-content-start align-items-center align-middle align-content-center gap-2">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/external-konkapp-flat-konkapp/64/external-syringe-emergency-services-konkapp-flat-konkapp.png"
          alt="external-syringe-emergency-services-konkapp-flat-konkapp"
        />
        <p class="fw-bold my-auto px-0">
          {{ medication.name }} 
          {{ medication.dosage }}
          {{ medication.unit }}
          <span class="fw-normal">Available : </span>
          <span style="color: green;">{{ medication.availableStock}}</span>
        </p>
        <img src="assets/info.svg" alt="info" class="image my-auto" style="height: 15px; width: 15px; margin-right: 5px" matTooltip="{{ medication.description }}" />

        <mat-icon class="clickable my-auto text-danger fw-bold" title="Deselect medication" (click)="removeMedication(medication, index)">close</mat-icon>
      
      </div>
    </div>
  </div>
  }
</div>
