<div class="container">
  <div class="row">
    @for (card of cards; track card.title;) {
    <div class="col-md-6">
      <div class="card" (click)="showRooms(card)">
        <div class="card-body">
          <div style="display: flex; align-items: center">
            <h4 class="card-title" style="margin-right: auto; margin-top: 15px">
              {{ card.title }}
              <p>
                <code
                  ><b>{{ card.type }}</b></code
                >
              </p>
            </h4>

            <button mat-icon-button aria-label="Edit" color="primary">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="delete_forever" color="warn">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <p class="card-description">
            {{ card.description }}
          </p>
          <hr />

          <h3 class="card-title" style="margin-right: auto; margin-top: 15px">
            HealthCare Personnels
          </h3>

          @for (person of card.personnel; track person.name){
          <div class="image-pers">
            <div href="#" class="icon-div" >
              <img
                [src]="
                  person.shift === 'day'
                    ? '../../../assets/icons/sun-s.svg'
                    : person.shift === 'night'
                    ? '../../../assets/icons/moon.svg'
                    : '../../../assets/icons/eclipse-moon-svgrepo-com.svg'
                "
                style="
                  height: 24px;
                  width: 24px;
                  background-color: white;
                  border-radius: 100%;
                  border: 3px solid white;
                "
                class="img-icon"
              />

              <img
                [src]="
                  person.gender === 'Male'
                    ? '../../../assets/images/men.png'
                    : 'https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp'
                "
                class="rounded-circle"
                style="width: 40px"
                alt="Avatar"
                [ngClass]="{
                  'day-shift': person.shift === 'day',
                  'night-shift': person.shift === 'night',
                  'half-shift': person.shift === 'half'
                }"
              />
            </div>
            <p>{{ person.name }}</p>
          </div>
          }
          <hr />

          <h3 class="card-title" style="margin-right: auto; margin-top: 15px">
            Rooms
          </h3>

          @for (room of card.rooms; track room.roomNumber;let i = $index){
          <button
            type="button"
            [ngClass]="getButtonClass(i)"
            class="btn btn-lg px-4 py-2"
          >
            {{ room.roomNumber }}
          </button>
          }
        </div>
      </div>
    </div>

    }
  </div>
</div>
