<table class="table">
  <tbody>
    <tr>
      <td class="col-md-4">
        <div>
          <chips-select
            [ObjectName]="'Symptom'"
            [customLabel]="'Symptoms'"
            class="w-100"
            (selectedChipsChange)="selectedSymptomsChipsChange($event)"
            [enableCustomAdditions]="false"
            [enableQuickSelectFromSuggestions]="true"
            [fullData]="symptomsData"
            [minimumSearchLength]="1"
            [minimumAddedLabelLength]="5"
            [isStartWithSearch]="false"
            [searchPropertyName]="'label'"
          ></chips-select>

          <chips-select
            [ObjectName]="'Diagnosis'"
            [customLabel]="'Diagnosis'"
            class="w-100"
            (selectedChipsChange)="selectedDiagnosisChipsChange($event)"
            [enableCustomAdditions]="true"
            [enableQuickSelectFromSuggestions]="true"
            [fullData]="diagnosesData"
            [minimumSearchLength]="1"
            [minimumAddedLabelLength]="5"
            [isStartWithSearch]="false"
            [searchPropertyName]="'label'"
          ></chips-select>
        </div>
      </td>
      <td class="col-md-3">
        <div>
          <form class="container d-flex card py-2 shadow-sm">
            <app-human-body-viewer></app-human-body-viewer>
          </form>
        </div>
      </td>
      <td class="col-md-4">
        <div [className]="selectedPatient == undefined && 'd-none'">
          <app-stp2-patient-details />
        </div>
      </td>
    </tr>
  </tbody>
</table>
