<table class="table">
  <tbody>
    <tr>
      <td class="col-md-4">
        <div>
          <chips-select
            [ObjectName]="'Symptom'"
            [customLabel]="'Symptoms'"
            class="w-100"
            (selectedChipsChange)="selectedSymptomsChipsChange($event)"
            [enableCustomAdditions]="false"
            [enableQuickSelectFromSuggestions]="true"
            [fullData]="symptomsData"
            [minimumSearchLength]="1"
            [minimumAddedLabelLength]="5"
            [isStartWithSearch]="false"
            [searchPropertyName]="'name'"
            [disabled]="symptomsData.length===0"
            [selectedChips]="selectedSymptoms"
            [tooltipPropertyName]="'shortDescription'"
          ></chips-select>

          <div id="diagnosis-chips-select-container">

            <chips-select
            [ObjectName]="'Diagnosis'"
            [customLabel]="'Diagnosis'"
            class="w-100"
            (selectedChipsChange)="selectedDiagnosisChipsChange($event)"
            [enableCustomAdditions]="true"
            [enableQuickSelectFromSuggestions]="true"
            [fullData]="diagnosesData"
            [minimumSearchLength]="1"
            [minimumAddedLabelLength]="5"
            [isStartWithSearch]="false"
            [searchPropertyName]="'name'"
            [disabled]="diagnosesData.length===0"
            [selectedChips]="selectedDiagnosis"
            [tooltipPropertyName]="'shortDescription'"
            ></chips-select>
          </div>
        </div>
      </td>
      <td class="col-md-3">
        <div>
          <form class="container d-flex card py-2 shadow-sm">
            <app-human-body-viewer 
              (onSelectedPartsChange)="onSelectedBodyPartsChange($event)"
              (isFilteringEnabledChange)="handleIsFilteringEnabledChange($event)"
            ></app-human-body-viewer>
          </form>
        </div>
      </td>
      <td class="col-md-4">
        <app-stp2-patient-details />
      </td>
    </tr>
  </tbody>
</table>
