<div class="row">
    <div class="col-md-3">

      <div >
        <!-- Spinner component or loading animation -->
        <!-- <mat-spinner></mat-spinner> -->
      </div>
      <app-radialbar-charts 
        [chartOptionsCircle]="TemperatureOptionsCircle"/>
      <br />
      <app-radialbar-charts
      [chartOptionsCircle]="HumidityOptionsCircle"
      ></app-radialbar-charts>
    </div>
    <div class="col-md-3">
      <app-radialbar-charts
      [chartOptionsCircle]="LuminosityOptionsCircle"
      ></app-radialbar-charts>
      <br />
      <app-radialbar-charts
      [chartOptionsCircle]="ElectricityOptionsCircle"
      ></app-radialbar-charts>
    </div>

    <div class="col-md-6">
      <app-environnement-widget
      [datatemp]="temperatureData"
      [datahum]="humidityData"
      [dataele]="electricityData"
      [datalum]="luminosityData"
      [datacateg]="categoriesData"
   ></app-environnement-widget>

    </div>
  </div>
