<div class="row d-flex justify-content-between align-items-start">
  <div style="margin-top: 42px; width: 35px" class="col-md-1">
    <i
      style="margin-right: 5px; color: #203bad; font-size: 30px"
      class="material-icons"
      >dining</i
    >
  </div>
  <div class="col">
    <ng-container>
      <td>
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let currenthours of selectedHours">
            <div
              class="mb-2"
              *ngFor="let currentitem of currenthours; let itemIndex = index"
            >
              <div
                *ngIf="currentitem.hour != 5"
                class="card mr-1 w-3 h-3 mb-4 cursor-pointer {{
                  getBackgroundColor(currentitem.hour)
                }} color-white"
                style="width: 3rem; height: 4.4rem"
              >
                <div class="card-header p-0 text-center">
                  <p class="mb-0 font-weight-normal text-white">
                    {{ currentitem.hour }} H
                    <!-- <i style="width: 10px;" class="material-icons" data-toggle="tooltip"
                                            data-placement="top"
                                            title="{{getToolTipText(currentitem.hour)}}">info</i> -->
                  </p>
                </div>
                <div class="card-body p-0 text-center bg-secondary color-white">
                  <div>
                    <input
                      class="form-control text-center"
                      style="padding: 0%"
                      [value]=""
                      type="text"
                    />
                  </div>
                  <mat-divider
                    class="m-1"
                    style="border-top-color: #203bad"
                  ></mat-divider>
                  <div>
                    <input
                      class="form-control text-center"
                      style="padding: 0%"
                      [value]=""
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-datepicker-range-popup
    style="margin-left: 37px; max-width: 290px"
  ></app-datepicker-range-popup>
</div>
