.custom-width-rem {
  min-width: 30rem;
}

.custom-height {
  height: 35px;
}

.custom-border-style {
  border-style: outset;
}

.custom-padding-right {
  padding-right: 40px;
}


.result {
  font-weight: 20;
  
  font-family: "Manrope", sans-serif;
  font-style: bold;
  font-weight:bold;
  font-size: 16px;
  line-height: 22px;
  color: #8d8d8d;
  margin-bottom: 0;
}