<div class="row flex-grow mt-2">
  <div class="col-12 grid-margin stretch-card">
    <div class="card card-rounded">
      <div class="card-body">
        @if(this.ViewPrescriptions==false){
        <div id="add-prescription-body">
          <!-- Tools bar (report issue, forward ...) -->
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title card-title-dash">Prescription</h4>
              <p class="card-subtitle card-subtitle-dash">
                Add new Prescription
              </p>
            </div>

            <div class="btn-wrapper">
              <a href="#" class="btn btn-outline-primary align-items-center"
                ><i class="fa fa-paper-plane"></i> Forward</a
              >

              <a href="#" class="btn btn-outline-primary align-items-center"
                ><i class="icon-printer"></i> Export PDF</a
              >
              <span class="btn btn-primary text-white align-items-center" (click)="onClickViewPrescriptions()">
                <i class="fa fa-qrcode" aria-hidden="true"></i> Prescriptions
              </span>
              <a
                href="#"
                class="btn btn-primary text-white align-items-center"
                [routerLink]="['/', 'eScript']"
                routerLinkActive="active"
              >
                <i class="fa fa-qrcode" aria-hidden="true"></i> eScript
                (electronic prescription)
              </a>
              <a
                href="#"
                class="btn btn-danger text-white align-items-center"
                [routerLink]="['/', 'report-issue-csv']"
                style="border-color: red"
              >
                <i class="fa fa-flag" aria-hidden="true"></i> Report an issue
              </a>
            </div>
          </div>
          <!-- Wizard header -->
          <app-wizard-header
            [steps]="wizardSteps"
            (currentStepChange)="SwitchToStep($event)"
            [switchCondition]="selectedPatient != undefined"
            [currentStep]="stepNumber"
            [size]="3"
            [IconSizeRatio]="0.5"
            [validatePageSwitch]="validatePageSwitch"
          ></app-wizard-header>

          <!-- Wizard content -->
          <div class="wizard-container" style="height: 490px; overflow-y: auto">
            <!-- Step 1 : Patient Selection (before Select Patient) -->
            <div [className]="stepNumber != 1 && 'd-none'">
              <app-stp1-patient-selection
                [(selectedPatient)]="selectedPatient"
                (selectedPatientChange)="onSelectPatientChange($event)"
              />
            </div>

            <!-- Print a single line displaying Patient id | name - Age And Deselect Button -->
            <!-- In Each of steps 2,3 and 4 -->
            @if(selectedPatient && stepNumber > 1){
            <div
              class="d-flex gap-2 justify-content-center"
              style="height: 2rem"
            >
              <p class="align-self-center m-0">Selected Patient :</p>
              <span class="text-primary fw-bold align-self-center">
                Id : {{ selectedPatient.sn }} | {{ selectedPatient.name }} -
                {{ selectedPatient.age }} years</span
              >
              <mat-icon
                class="align-self-center"
                (click)="onSelectPatientChange(undefined)"
                >close</mat-icon
              >
            </div>
            }

            <!-- Step 2 : Patient Details (cards) -->
            <div *ngIf="stepNumber === 2 && selectedPatient != undefined">
              <app-stp2-patient-details />
            </div>

            <!-- Step 2: Diagnostic -->
            <div [className]="stepNumber != 3 && 'd-none'">
              <app-stp3-add-diagnostic
                (onSelectedDiagnosisChange)="
                  onSelectedDiagnosisChangeHandler($event)
                "
                (onSelectedSymptomsChange)="
                  onSelectedSymptomsChangeHandler($event)
                "
                [selectedPatient]="selectedPatient"
                (onIsAddSymptomsPageValidChange)="validatePageChange(3, $event)"
              />
            </div>

            <!-- Step 3: Medication -->
            <div [className]="stepNumber != 4 && 'd-none'">
              <app-stp4-add-medication
                [events]="eventsSubject.asObservable()"
                [selectedPatient]="selectedPatient"
                (onIsMedicationPageValidChange)="validatePageChange(4, $event)"
                (onSubmitChange)="handleSubmit()"
                (onMedicationsChange)="handleMedicationChange($event)"
              />
            </div>
          </div>

          <!-- Wizard buttons -->
          <div class="d-flex">
            <div class="col-12 col-lg-8">
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="onSelectPatientChange(undefined)"
              >
                Cancel
              </button>
            </div>
            <div class="col-lg-4 d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-primary text-white mr-3"
                (click)="onClickBackEvent()"
              >
                {{ backButtonContent.label }}
              </button>
              <button
                type="button"
                class="btn btn-primary text-white"
                (click)="onClickNextEvent()"
              >
                {{ nextButtonContent.label }}
              </button>
            </div>
          </div>
        </div>
        } 
        @if(this.ViewPrescriptions==true){
          <div id="add-prescription-body">
            <app-prescription-list (onClickNewPrescriptionEvent)="onClickNewPrescriptionEventHandler($event)"></app-prescription-list>
          </div>
        }
      </div>
    </div>
  </div>
</div>
