.table{
    background-color: #fff;
    width:95%;
    margin: 0 auto; 

}

.table th {
   text-align: center;
    font-weight: bold;
    background-color: rgba(0, 30, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: medium;
    width:min-content;
}
.table td {
    vertical-align: top;
    width: 25%;   
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
li {
    font-weight: 450;
    text-align: left;
    font-size: 15px;
    min-height: 15px;
    background-color: #708090;
    padding: 5px 15px;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
   
    
  }
  ul .chart-li-one {
    width:fit-content;
    grid-column: 1/2; 
    background-color:#fff;
    color: black;
  border: 5px solid rgba(167, 177, 255, 0.7);
  }
  