<div>
  <div class="form-group d-flex gap-2 col-lg-5 mx-auto mt-2 mb-0">
    <input
      type="text"
      class="form-control form-control-sm"
      name=""
      id=""
      aria-describedby="helpId"
      [(ngModel)]="searchTerm"
      placeholder="Enter Name OR Serial number"
    />
    <input
      name=""
      id=""
      class="btn btn-outline-primary"
      type="button"
      value="Search"
    />
  </div>

  <table class="table table-responsive">
    <thead>
      <tr id="table-head-row">
        <th class="col-3">patient ID</th>
        <th class="col-3">Name</th>
        <th class="col-2">Registration Time</th>
        <th class="col-1">Sex</th>
        <th class="col-1">Age</th>
        <th class="col-1">Height</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of dataList | filterPatientByNameAndSn : searchTerm"
        (click)="onClickPatient(data)"
        [class]="data === selectedPatient ? 'table-primary' : ''"
      >
        <td class="col-3">{{ data.sn }}</td>
        <td class="col-3">{{ data.name }}</td>
        <td class="col-2">{{ ('0' + data.registrationDate.getHours()).slice(-2) + ":" + ("0" + data.registrationDate.getMinutes()).slice(-2) }}</td>
        <td class="col-1">{{ data.sex }}</td>
        <td class="col-1">{{ data.age }}</td>
        <td class="col-1">{{ data.height }}</td>
      </tr>
    </tbody>
  </table>
</div>
