<div class="header-container">
 <div class="uc" style="margin-right: 50px;">Unit Care : Emergency Department </div> 

    {{ todayDate }}
    <button class="filter-button" (click)="filterByStatus()">Filter by Status</button>
    </div>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 custom-table">
  <ng-container matColumnDef="add">
    <th mat-header-cell *matHeaderCellDef class="header"> </th>
    <td mat-cell *matCellDef="let element" class="element" (click)="toggleExpanded(element)">
        <img [src]="expandedElement === element ? 'assets/minus.svg' : 'assets/plus.svg'" alt="more" class="image" style="height: 30px;width: 30px; left: 50%;top: 50%">
    </td>
  </ng-container>
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef class="header"> Room </th>
      <td mat-cell *matCellDef="let element" class="element" (click)="toggleExpanded(element)"> {{element.room}} </td>
    </ng-container>
    <ng-container matColumnDef="bed">
      <th mat-header-cell *matHeaderCellDef class="header"> Bed </th>
      <td mat-cell *matCellDef="let element" class="element" (click)="toggleExpanded(element)"> {{element.bed}} </td>
    </ng-container>
    <ng-container matColumnDef="patient">
      <th mat-header-cell *matHeaderCellDef class="header"> Patient </th>
      <td mat-cell *matCellDef="let element" class="element"(click)="toggleExpanded(element)"> {{element.patient}} </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef class="header"> Age </th>
      <td mat-cell *matCellDef="let element" class="element" (click)="toggleExpanded(element)"> {{element.age}} </td>
    </ng-container>
     <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef class="header" > Progress </th>
      <td mat-cell *matCellDef="let element" class="element" (click)="toggleExpanded(element)" > 
        <mat-progress-bar mode="determinate" [value]="(element.served / element.toServe) * 100"></mat-progress-bar>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="header" > Status </th>
      <td mat-cell *matCellDef="let element" (click)="toggleExpanded(element)" >

        @if ( element.status === "Pending...") {
        <mat-chip class="element mat-chip"
          style="background-color: rgba(255, 0, 0, 0.05); border: 1px solid red;">{{element.status}}</mat-chip>
        }
        @else if (element.status === "On Progress") {
        <mat-chip class="element mat-chip"
          style="background-color: rgba(255, 247, 17, 0.05);border: 1px solid yellow;">{{element.status}}</mat-chip>
        }
        @else if (element.status === "Completed") {
        <mat-chip class="element mat-chip"
          style="background-color: rgba(17, 255, 33, 0.05);border: 1px solid green;">{{element.status}}</mat-chip>
        }
      </td>
    </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <table mat-table [dataSource]="element.medicines" class="mat-elevation-z8 extended-table ">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td class="element name-cell" mat-cell *matCellDef="let medicine">{{ medicine.name }}
                <img src="assets/info.svg" alt="info" class="image" style = "height: 20px ;width: 20px;"
                matTooltip="bla bla bla bla bla ">
              </td>
            </ng-container>
            <ng-container matColumnDef="posology">
              <table mat-table [dataSource]="element.medicines.posology "
                class="mat-elevation-z8 extended-table-cell ">
                <ng-container matColumnDef="posology">
                  <th mat-header-cell *matHeaderCellDef>Posology</th>
                  <td class="element posology-cell" mat-cell *matCellDef="let element">
                    
                    <app-schedule [hoursList]="element.posology" ></app-schedule>
                  </td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: ['posology']"></tr>
              </table>
            </ng-container>
            <ng-container matColumnDef="root">
              <th mat-header-cell *matHeaderCellDef>Route</th>
              <td class="element root-cell" mat-cell *matCellDef="let medicine">
                <img  [src]="medicine.root === 'Ophthalmic' ? 'assets/eye.svg' :
                               medicine.root === 'Otic' ? 'assets/ear.svg' :
                               medicine.root === 'Inhalation' ? 'assets/lungs.svg' :
                               medicine.root === 'Injection' ? 'assets/vaccine.svg' :
                               medicine.root === 'Oral' ? 'assets/drug.svg' : ''" 
                               alt="{{medicine.root}}" style="height: 30px;width: 30px; left: 50%;top: 50%">
              </td>
            </ng-container>
            <ng-container matColumnDef="dose">
              <th mat-header-cell *matHeaderCellDef>Dose</th>
              <td class="element dose-cell" mat-cell *matCellDef="let medicine">{{ medicine.dose }}</td>
            </ng-container>
            <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef>Note</th>
              <td class="element note-cell" mat-cell *matCellDef="let medicine">
                <textarea name="note" id="note" cols="15" rows="3"></textarea>
                <br>
                <button class="submit-button" style="background-color: #0650bebc; border-radius: 10px; color: white; border-color: transparent;">Submit</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['name', 'posology', 'root' , 'dose','note'] "></tr>
            <tr mat-row *matRowDef="let row; columns: ['name', 'posology', 'root' , 'dose','note'] "></tr>
          </table>
        </div>
        <div class="example-element-description">
          {{ element.description }}
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>