
.form-row {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  margin-right: 30px; /* Adjust as needed for spacing between columns */
}

img{
  width:24px;
   height:24px
}
