<div class="d-flex flex-row flex-wrap gap-2 justify-content-center align-middle mt-md-3">
  <div class="col-12">
    @if(medication.length > 0)
    {
    <!-- Current Added medications card -->
    <app-card-medication [medicationList]="medication" [containerClass]="'card mb-2 py-2'"></app-card-medication>
    }
  </div>

  <div>
    <!-- Current medication card -->
    <div class="card mb-2 py-2">
      <div class="card-body pb-0 pt-3">
        <h4 class="card-title fs-6 mb-1">Current Medication</h4>
        <ul class="list p-1 m-0 ps-3">
          <li>
            <div class="mb-0">
              <p class="fw-bold fs-6 text-primary mb-0">Insulin<span class="fw-light fs-6 text-dark mb-0"> Permanent</span></p>
              <p class="text-dark mb-1">600 mg oral tablet<span> Start: 01 Jan 2024</span></p>
            </div>
          </li>
          <li>
            <div class="mb-0">
              <p class="fw-bold fw-bold fs-6 text-primary mb-0">Doliprane</p>
              <p class="text-dark mb-0">600 mg oral tablet<span> Start: 01 Jan 2024</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Current Allergies card -->
    <div class="card mb-2 py-2">
      <div class="card-body pb-0 pt-3">
        <h4 class="card-title fs-6 mb-1">Allergies</h4>
        <ul class="list p-1 m-0 ps-3">
          <li>
            <div class="mb-0">
              <p class="fw-bold fs-6 text-primary mb-0">Drug allergy<span class="fw-light fs-6 text-dark mb-0"> Chronic</span></p>
              <p class="fw-bold text-danger">INSULIN<span class="text-dark"> Start: 01 Jan 2024</span></p>
            </div>
          </li>
          <li>
            <div class="mb-0">
              <p class="fw-bold fw-bold fs-6 text-primary mb-0">Doliprane</p>
              <p class="text-dark mb-0">600 mg oral tablet<span> Start: 01 Jan 2024</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

