.masonry-item {
    justify-content: center;
    width: 300px;
    margin-bottom: 10px;
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  }
  .masonry-item-big {
    justify-content: center;
    width: 40rem;
    margin-bottom: 10px;
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
  }