<div class="row">
    <div class="col-lg-8 d-flex flex-column">
      <div class="row flex-grow">
        <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
          <div class="card card-rounded">
            <div class="card-body">
              <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                 <h4 class="card-title card-title-dash">Performance Line Chart</h4>
                 <h5 class="card-subtitle card-subtitle-dash">Detect temperature and humidity</h5>
                </div>
                <div id="performance-line-legend"></div>
              </div>
              <div class="chartjs-wrapper mt-5">
                <canvas id="performaneLine"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 d-flex flex-column">
      <div class="row flex-grow">
        <div class="col-md-6 col-lg-12 grid-margin stretch-card">
          <div class="card card-rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                    <div class="circle-progress-width">
                      <div id="totalTemperatures" class="progressbar-js-circle pr-2" [attr.data-temperature]="Temperature || 'number'"></div>
                    </div>
                    <div>
                      <p class="text-small mb-2">Temperature</p>
                      <h4 class="mb-0 fw-bold">{{ Temperature }}°C</h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="circle-progress-width">
                      <div  id="totalHumidity" class="progressbar-js-circle pr-2" [attr.data-humidity]=" Humidity || 'number'"></div>
                    </div>
                    <div>
                      <p class="text-small mb-2" >Humidity</p>
                      <h4 class="mb-0 fw-bold">{{ Humidity }}%</h4>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  