<div class="row flex-grow mt-2">
  <div class="col-12 grid-margin stretch-card">
    <div class="card card-rounded">
      <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
          <div>
            <h4 class="card-title card-title-dash">Registration Form</h4>
            <p class="card-subtitle card-subtitle-dash">
              Complete patient registration
            </p>
          </div>

          <div class="btn-wrapper">
            <a
              href="#"
              class="btn btn-primary text-white align-items-center"
              [routerLink]="['/', 'register']"
              routerLinkActive="active"
            >
              <i class="fa fa-address-book-o" aria-hidden="true"></i> Patients List
            </a>
            <a
              href="#"
              class="btn btn-danger text-white align-items-center"
              [routerLink]="['/', 'report-issue-csv']"
              style="border-color: red"
            >
              <i class="fa fa-flag" aria-hidden="true"></i> Report an issue
            </a>
          </div>
        </div>
        <div>
          <app-wizard-header
            (currentStepChange)="SwitchToStep($event)"
            [switchCondition]="true"
            [currentStep]="stepNumber"
            [size]="3"
            [IconSizeRatio]="0.6"
            [steps]="steps"
            [showSteps$WithTitle]="false"
          >
          </app-wizard-header>

          <div class="wizard-container" style="height: 450px; overflow-y: auto">
            <!--step 1 Patient information-->
            <div class="wizard-step" [class.active]="stepNumber === 1">
              <div class="container mt-4">
                <div class="row">
                  <div class="col-md-4 order-md-2 mb-3">
                    <h4>Gender</h4>
                    <div class="d-block my-3">
                      <div class="custom-control custom-radio">
                        <input
                          id="credit"
                          name="paymentMethod"
                          type="radio"
                          class="custom-control-input"
                          checked=""
                          required=""
                        />
                        <label
                          class="custom-control-label"
                          style="margin-left: 5px"
                          for="credit"
                          >Male</label
                        >
                      </div>
                      <div class="custom-control custom-radio">
                        <input
                          id="debit"
                          name="paymentMethod"
                          type="radio"
                          class="custom-control-input"
                          required=""
                        />
                        <label
                          class="custom-control-label"
                          style="margin-left: 5px"
                          for="debit"
                          >Female</label
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="cc-name"
                          placeholder="Date of birth"
                          required=""
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <input
                          type="text"
                          class="form-control"
                          id="cc-Weight"
                          placeholder="Weight kg."
                          required=""
                        />
                        <div class="invalid-feedback">
                          Weight is required
                        </div>
                      </div>
                      <div class="col-md-4">
                        <input
                          type="text"
                          class="form-control"
                          id="cc-Height"
                          placeholder="Height cm."
                          required=""
                        />
                        <div class="invalid-feedback">
                          Height is required
                        </div>
                      </div>
                      <div class="col-md-4">
                        <input
                          type="text"
                          class="form-control"
                          id="cc-BMI"
                          placeholder="BMI"
                          required=""
                        />
                        <div class="invalid-feedback">
                          BMI is required
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="same-address"
                      />
                      <label
                        class="custom-control-label"
                        style="margin-left: 5px"
                        for="same-address"
                        >current address is the same as registration
                        address</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="save-info"
                      />
                      <label
                        class="custom-control-label"
                        style="margin-left: 5px"
                        for="save-info"
                        >Save this information for next time</label
                      >
                    </div>
                    <hr/>

                    <!-- Family Status Section -->
                    <h4 class="mb-3">Family Status</h4>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          style="width: 200px"
                          id="marital-status"
                          formControlName="marital-status"
                          placeholder="Marital Status..."
                          required
                          list="maritalstatus"
                        />
                        <datalist id="maritalstatus">
                          <option *ngFor="let marital of maritals" [value]="marital.viewValue"></option>
                        </datalist>
                      </div>
                      <div class="col-md-6 mb-3">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          style="width: 200px"
                          id="children-status"
                          formControlName="children-status"
                          placeholder="Children..."
                          required
                          list="childrenstatus"
                        />
                        <datalist id="childrenstatus">
                          <option *ngFor="let child of childrens" [value]="child.viewValue"></option>
                        </datalist>
                      </div>
                    </div>
                    
                    
                  </div>
                  <div class="col-md-8 order-md-1">
                    <form class="needs-validation" novalidate="">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="firstName"
                            placeholder="First name"
                            required=""
                          />
                          <div class="invalid-feedback">
                            Valid first name is required.
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="lastName"
                            placeholder="Last name"
                            required="Last name"
                          />
                          <div class="invalid-feedback">
                            Valid last name is required.
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">CIN</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            id="CIN"
                            placeholder="Enter CIN"
                            required=""
                          />
                          <div class="invalid-feedback" style="width: 100%">
                            Your CIN is required.
                          </div>
                        </div>
                      </div>

                      <div class="mb-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">CNAM</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            id="CNAM"
                            placeholder="Enter CNAM Code"
                            required=""
                          />
                          <div class="invalid-feedback" style="width: 100%">
                            Your CNAM Code is required.
                          </div>
                        </div>
                      </div>

                      <div class="mb-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Assurance</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            id="Assurance"
                            placeholder="Enter Assurance Code"
                            required=""
                          />
                          <div class="invalid-feedback" style="width: 100%">
                            Your Assurance is required.
                          </div>
                        </div>
                      </div>

                      <div class="mb-3">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="Email (Optional)"
                        />
                        <div class="invalid-feedback">
                          Please enter a valid email address for shipping
                          updates.
                        </div>
                      </div>
                      <div class="mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="address"
                          placeholder="Address (Optional)"
                          required=""
                        />
                        <div class="invalid-feedback">
                          Please enter your shipping address.
                        </div>
                      </div>
                      <div class="mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="address2"
                          placeholder="Address 2 (Optional)"
                        />
                      </div>
                      <div class="row">
                        <div class="col-md-3 mb-3">
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            style="width: 200px"
                            id="activity"
                            formControlName="activity"
                            placeholder="Activity Status"
                            required
                            list="activityOptions"
                          />
                          <datalist id="activityOptions">
                            <option
                              *ngFor="let activity of activities"
                              [value]="activity.viewValue"
                            ></option>
                          </datalist>
                        </div>

                        <div class="col-md-3 mb-3">
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            style="width: 200px"
                            id="country"
                            formControlName="country"
                            placeholder="Select a Country"
                            required
                            list="countryOptions"
                          />
                          <datalist id="countryOptions">
                            <option
                              *ngFor="let country of countries"
                              [value]="country"
                            ></option>
                          </datalist>
                          <div class="invalid-feedback">
                            Please select a valid country.
                          </div>
                        </div>

                        <div class="col-md-3 mb-3">
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            style="width: 200px"
                            id="state"
                            formControlName="state"
                            placeholder="Select a State"
                            required
                            list="stateOptions"
                          />
                          <datalist id="stateOptions">
                            <option
                              *ngFor="let state of states"
                              [value]="state"
                            ></option>
                          </datalist>
                          <div class="invalid-feedback">
                            Please select a valid state.
                          </div>
                        </div>

                        <div class="col-md-3 mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="zipCode"
                            style="width: 110px"
                            placeholder="Zip-Code"
                            required
                          />
                          <div class="invalid-feedback">Zip code required.</div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!--step 2 Allergies-->
            <div class="wizard-step" [class.active]="stepNumber === 2">
              <div class="container mt-4">
                <div class="row">
                  <!-- Iterate through each allergy category -->
                  <div
                    class="col-md-3"
                    *ngFor="let category of allergyCategories"
                  >
                    <div class="category-column border rounded p-2">
                      <!-- Floating label form-group -->
                      <ul style="min-height: 250px; margin-bottom: 0px">
                        <!-- Display category name with an icon -->
                        <h5>
                          <i class="{{ category.icon }}"></i>
                          {{ category.name }}
                        </h5>
                        <!-- Display symptoms for the current category -->
                        <li class="list-group-item">
                          <div class="form-group mb-0">
                            <div *ngFor="let symptom of category.symptoms">
                              <label>
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  style="margin-right: 5px"
                                  id="{{ symptom.id }}"
                                  formControlName="allergySymptoms"
                                  [value]="symptom.id"
                                />
                                <!-- Displaying symptom name -->
                                {{ symptom.name }}
                              </label>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Step 3: Displaying Items -->
            <div class="wizard-step" [class.active]="stepNumber === 3">
              <div class="container mt-4">
                <div class="row">
                  <!-- Displaying a list of items -->
                  <div class="col-md-4 mb-3" *ngFor="let item of items">
                    <div class="category-column border rounded p-2">
                      <ul style="min-height: 150px; margin-bottom: 0px">
                        <!-- Displaying item name with an icon -->
                        <h5><i class="{{ item.icon }}"></i> {{ item.name }}</h5>
                        <!-- Iterating through each group within the item -->
                        <li class="list-group-item">
                          <div class="form-group mb-0">
                            <div *ngFor="let group of item.groups">
                              <label>
                                <!-- Checkbox to toggle group expansion -->
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  style="margin-right: 5px"
                                  (change)="toggleExpanded(group)"
                                />
                                <!-- Displaying group name -->
                                {{ group.name }}
                              </label>
                              <!-- Displaying children of the expanded group -->
                              <div *ngIf="group.expand">
                                <!-- Iterating through each child of the group -->
                                <div *ngFor="let child of group.children">
                                  <!-- Checkbox for each child item -->
                                  <label>
                                    <input
                                      style="
                                        margin-left: 20px;
                                        margin-right: 5px;
                                      "
                                      class="form-check-input"
                                      type="checkbox"
                                      (change)="onItemChange($event, child)"
                                    />
                                    <!-- Displaying child item name -->
                                    {{ child.name }}
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Step 4: Displaying Cardio-related Items -->
            <div class="wizard-step" [class.active]="stepNumber === 4">
              <div class="container mt-4">
                <div class="row">
                  <!-- Warning message with icon -->
                  <div class="col-md-12">
                    <p>
                      <i class="fa fa-exclamation-triangle"></i>
                      <em>
                        Consider only
                        <strong>first-degree relatives</strong></em
                      >
                    </p>
                  </div>
                </div>
                <div class="row">
                  <!-- Displaying a list of cardio-related items -->
                  <div class="col-md-4 mb-3" *ngFor="let item of cardio">
                    <div class="category-column border rounded p-2">
                      <ul style="min-height: 155px; margin-bottom: 0px">
                        <!-- Displaying item name with an icon -->
                        <h5><i class="{{ item.icon }}"></i> {{ item.name }}</h5>
                        <!-- Iterating through each group within the item -->
                        <li class="list-group-item">
                          <div class="form-group mb-0">
                            <div *ngFor="let group of item.groups">
                              <label>
                                <!-- Checkbox to toggle group expansion -->
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  style="margin-right: 5px"
                                  (change)="toggleExpanded(group)"
                                />
                                <!-- Displaying group name -->
                                {{ group.name }}
                              </label>
                              <!-- Displaying children of the expanded group -->
                              <div *ngIf="group.expand">
                                <!-- Iterating through each child of the group -->
                                <div *ngFor="let child of group.children">
                                  <label>
                                    <!-- Checkbox for each child item -->
                                    <input
                                      style="
                                        margin-left: 20px;
                                        margin-right: 5px;
                                      "
                                      class="form-check-input"
                                      type="checkbox"
                                      (change)="onItemChange($event, child)"
                                    />
                                    <!-- Displaying child item name -->
                                    {{ child.name }}
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Buttons -->
          <div class="d-flex">
            <div class="col-12 col-lg-8">
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="onCancelClick()"
              >
                Cancel
              </button>
            </div>
            <div class="col-lg-4 d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-primary text-white mr-3"
                (click)="onPrevClick()"
              >
                Previous
              </button>
              <button
                type="button"
                class="btn btn-primary text-white"
                (click)="onNextClick()"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>