<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add prescription</title>
  </head>
  <body
    class="d-flex flex-column p-md-2 justify-content-center gap-5 flex-md-row"
    id="body"
  >
    <!-- cards container -->
    <div class="d-flex flex-column gap-2 justify-content-center align-middle">
      <chips-select
        [ObjectName]="'Symptom'"
        [customLabel]="'Symptoms'"
        class="w-100"
        (selectedChipsChange)="selectedChipsChange($event)"
        [enableCustomAdditions]="true"
        [enableQuickSelectFromSuggestions]="true"
        [fullData]="dummyData"
        [minimumSearchLength]="2"
        [minimumAddedLabelLength]="5"
        [isStartWithSearch]="true"
        [searchPropertyName]="'label'"
      ></chips-select>
      <!-- Current medication card -->
      <div class="card">
        <div class="card-body py-4 px-5">
          <h4 class="card-title">Current Medication</h4>
          <ul class="list ps-5">
            <li>
              <div class="mb-4">
                <p class="fw-bold fs-5" style="color: #9000ff">
                  Insulin<span style="color: #0000009d" class="fw-light fs-6">
                    Permanent</span
                  >
                </p>
                <p style="color: #0000009d">
                  600 mg oral tablet<span> Start: 01 Jan 2024</span>
                </p>
              </div>
            </li>
            <li>
              <div class="mb-2">
                <p class="fw-bold fs-5" style="color: #9000ff">Doliprane</p>
                <p style="color: #00000082">
                  600 mg oral tablet<span> Start: 01 Jan 2024</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Allergies card -->
      <div class="card">
        <div class="card-body py-4 px-5">
          <h4 class="card-title">Allergies</h4>
          <ul class="list ps-5">
            <li>
              <div class="mb-4">
                <p class="fw-bold fs-5" style="color: #9000ff">
                  Drug allergy<span
                    style="color: #0000009d"
                    class="fw-light fs-6"
                  >
                    Chronic</span
                  >
                </p>
                <p style="color: #e007079d" class="fw-bold">
                  INSULIN<span style="color: #0000009d">
                    Start: 01 Jan 2024</span
                  >
                </p>
              </div>
            </li>
            <li>
              <div class="mb-4">
                <p class="fw-bold fs-5" style="color: #9000ff">
                  Latex allergy<span
                    style="color: #0000009d"
                    class="fw-light fs-6"
                  >
                    Chronic</span
                  >
                </p>
                <p style="color: #e007079d" class="fw-bold">
                  <span style="color: #0000009d"> Start: 01 Jan 2024</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Personal history card -->
      <div class="card">
        <div class="card-body py-4 px-5">
          <h4 class="card-title">Personal history</h4>
          <ul class="list ps-5">
            <li>
              <div class="mb-4">
                <p class="fw-bold fs-5" style="color: #9000ff">
                  Cardiac surgery<span
                    style="color: #0000009d"
                    class="fw-light fs-6"
                  >
                  </span>
                </p>
                <p style="color: #e007079d" class="fw-bold">
                  Critical<span style="color: #0000009d">
                    Date: 01 Jan 2024</span
                  >
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- main body card -->
    <div class="col-12 col-sm-5">
      <app-add-symptoms></app-add-symptoms>
    </div>
  </body>
</html>
