<!-- 
  remove start date from symptoms
  change sig to android time pickers
  dosage unit => remove list + autoSelect from medication choose
 remove associated diagnosis

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add prescription</title>
  </head>
  <body>
    <!-- in-body navigator -->
    <div
      class="d-flex align-items-center justify-content-center border-bottom px-4"
      style="background-color: #f4f5f7"
    >
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item align-self-center">
          <button
            id="home-tab"
            data-bs-toggle="tab"
            aria-controls="overview"
            (click)="SwitchToStep(0)"
            [className]="
              'nav-link ps-0 m-0 py-2' + (stepNumber == 0 && ' active bg-white')
            "
          >
            Patient information
          </button>
        </li>
        <li class="nav-item align-self-center">
          <button
            id="profile-tab"
            data-bs-toggle="tab"
            (click)="SwitchToStep(1)"
            [className]="
              'nav-link m-0 py-2' + (stepNumber == 1 && ' active bg-white')
            "
          >
            Diagnostic
          </button>
        </li>
        <li class="nav-item align-self-center">
          <button
            id="contact-tab"
            data-bs-toggle="tab"
            [attr.aria-selected]="stepNumber === 2"
            (click)="SwitchToStep(2)"
            [className]="
              'nav-link m-0 b-0 py-2 ' + (stepNumber == 2 && ' active bg-white')
            "
          >
            Medication
          </button>
        </li>
      </ul>
    </div>

    <!-- human body card -->
    <div [className]="stepNumber != 0 && 'd-none'"><app-patient-select /></div>
    <div [className]="stepNumber != 1 && 'd-none'">
      <app-add-symptoms
        (onPageChangeEvent)="onPageChangeEvent($event, 1)"
        (onSelectedDiagnosisChange)="onSelectedDiagnosisChangeHandler($event)"
      />
    </div>
    <div [className]="stepNumber != 2 && 'd-none'">
      <app-prescribe-medication (onBackClick)="SwitchToStep(1)" />
    </div>
  </body>
</html>
