<!-- Content area if login failed -->
@if (!loginDisplay) {
<router-outlet></router-outlet>
}
<!-- Content area for different routes -->
@if (loginDisplay) { @if(profile){
<div class="container-scroller">
  <!-- Include the navbar component -->
  <app-navbar></app-navbar>

  <div class="container-fluid page-body-wrapper">
    <!-- Include the settings panel component -->
    <app-settings-panel></app-settings-panel>

    <!-- Include the sidebar component -->
    <!-- <app-sidebar></app-sidebar> -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <!-- Dashboard Links -->
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isDoctor">
          <a class="nav-link" [routerLink]="['/', 'DashboardDoctor']">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isNutritionist">
          <a class="nav-link" [routerLink]="['/', 'nutritionist-dashboard']">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isSupervisor">
          <a class="nav-link" [routerLink]="['/', 'supervisor-dashboard']">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isNurse">
          <a class="nav-link" [routerLink]="['/', 'nurse-dashboard']">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isReceptionist">
          <a class="nav-link" [routerLink]="['/', 'reception-dashboard']">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isPharmacist">
          <a class="nav-link" [routerLink]="['/', 'pharmacist-dashboard']">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <!-- Reception Section -->
        <li class="nav-item nav-category" *ngIf="getRole().isDoctor">RECEPTION</li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isReceptionist || getRole().isReceptionist">
          <a class="nav-link" [routerLink]="['/', 'register']">
            <i class="menu-icon mdi mdi-account-circle-outline"></i>
            <span class="menu-title">Registration</span>
          </a>
        </li>

        <!-- Infrastructure Section -->
        <li class="nav-item nav-category">Infrastructure</li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isSupervisor">
          <a class="nav-link" [routerLink]="['/', 'unit-care']">
            <i class="menu-icon mdi mdi-floor-plan"></i>
            <span class="menu-title">Unit Care</span>
            <i class="menu-arrow"></i>
          </a>
        </li>

        <!-- Pharmacy Link -->
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isPharmacist || getRole().isReceptionist">
          <a class="nav-link" [routerLink]="['/', 'pharmacy']">
            <i class="menu-icon mdi mdi-mortar-pestle-plus"></i>
            <span class="menu-title">Pharmalink</span>
            <i class="menu-arrow"></i>
          </a>
        </li>

        <!-- Administration Section -->
        <li class="nav-item nav-category">ADMINISTRATION</li>

        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isDoctor || getRole().isSupervisor">
          <a class="nav-link" [routerLink]="['/', 'prescribe']">
            <i class="menu-icon mdi mdi-prescription"></i>
            <span class="menu-title">Prescription</span>
            <i class="menu-arrow"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getRole().isNurse || getRole().isSupervisor">
          <a class="nav-link" [routerLink]="['/', 'bac-patient']">
            <i class="menu-icon mdi mdi-chart-line"></i>
            <span class="menu-title">Bac Patient</span>
            <i class="menu-arrow"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/', 'tasks']">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <span class="menu-title">Tasks</span>
            <i class="menu-arrow"></i>
          </a>
        </li>
        <!--         <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/', 'timeline']">
            <i class="menu-icon mdi mdi-chart-line"></i>
            <span class="menu-title">Time Line</span>
            <i class="menu-arrow"></i>
          </a>
        </li> -->

        <!-- Visits Link -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/', 'visits']" *ngIf="getRole().isDoctor || getRole().isSupervisor">
            <i class="menu-icon mdi mdi-floor-plan"></i>
            <span class="menu-title">Visits</span>
            <i class="menu-arrow"></i>
          </a>
        </li>

        <!-- Diet Link -->
        <li class="nav-item" *ngIf="getRole().isNutritionist || getRole().isSupervisor">
          <a class="nav-link">
            <i class="menu-icon fa fa-apple" aria-hidden="true"></i>
            <span class="menu-title">Diet</span>
            <i class="menu-arrow"></i>
          </a>
        </li>

        <!-- Waste Link -->
        <li class="nav-item" *ngIf="getRole().isNurse || getRole().isSupervisor">
          <a class="nav-link">
            <i class="menu-icon fa fa-trash-o"></i>
            <span class="menu-title">Waste</span>
            <i class="menu-arrow"></i>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main panel -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row m-0">
          <div class="home-tab p-0">
            <div class="tab-content tab-content-basic border-top">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                <!-- Content area for different routes -->
                <router-outlet></router-outlet>
                <app-snack-bar-messages></app-snack-bar-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Include the footer component -->
      <app-footer></app-footer>
    </div>
  </div>
</div>
}@else {
<div class="mx-auto pe-5 mt-5" style="width: fit-content">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
    <p class="fs-6 text-primary mt-3">Getting Login information</p>
  </div>
</div>
} }
