<div class="container-scroller">
  <!-- Include the navbar component -->
  <app-navbar></app-navbar>

  <div class="container-fluid page-body-wrapper">
    <!-- Include the settings panel component -->
    <app-settings-panel></app-settings-panel>

    <!-- Include the sidebar component -->
    <app-sidebar></app-sidebar>

    <!-- Main panel -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row m-0">
          <div class="home-tab p-0">
            <div class="tab-content tab-content-basic border-top">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                <!-- Content area for different routes -->
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Include the footer component -->
      <app-footer></app-footer>
    </div>
  </div>
</div>
