<!-- Tools bar (report issue, forward ...) -->
<div class="d-sm-flex justify-content-between align-items-start">
    <div>
      <h4 class="card-title card-title-dash">Pharmacy</h4>
      <p class="card-subtitle card-subtitle-dash">View Pending Prescriptions</p>
    </div>
  
    <div class="btn-wrapper">
      <a href="#" class="btn btn-outline-primary align-items-center"><i class="fa fa-paper-plane"></i> Forward</a>
      <a href="#" class="btn btn-outline-primary align-items-center"><i class="icon-printer"></i> Export PDF</a>
      <span class="btn btn-primary text-white align-items-center" (click)="onClickImportMedications()"> <i class="fa fa-qrcode" aria-hidden="true"></i> View Medications </span>
      <a href="#" class="btn btn-danger text-white align-items-center" [routerLink]="['/', 'report-issue-csv']" style="border-color: red">
        <i class="fa fa-flag" aria-hidden="true"></i> Report an issue
      </a>
    </div>
  </div>
  <!-- content -->
  <div class="wizard-container" style="height: 490px; overflow-y: auto">
    <!-- If no prescription is selected: Search + table part -->
    <div [className]="selectedValidation != undefined && 'd-none'">
      <!-- Search prescription -->
      <div class="form-group d-flex gap-3 col-lg-5 mx-auto mt-2 mb-0 align-content-center align-items-center">
        <input [disabled]="isLoading" type="text" class="form-control form-control-sm" name="" id="" aria-describedby="helpId" [(ngModel)]="searchTerm" placeholder="Enter Id or Patient Name" />
        <input [disabled]="isLoading" name="" id="" class="btn btn-outline-primary m-0" type="button" value="Search" />
        <i class="fa fa-refresh" id="refresh-icon" aria-hidden="true" title="Refresh" (click)="onClickRefresh()"></i>
      </div>
      <!-- Search result : Table of prescriptions -->
      @if(isLoading == false){
      <table class="table table-responsive">
        <thead>
          <tr id="table-head-row">
            <th class="col-2">Validation ID</th>
            <th class="col-2">Prescription ID</th>
            <th class="col-1">Number of posologies</th>
            <th class="col-2">Validation Status</th>
            <th class="col-2">Pharmacist Name</th>
            <th class="col-2">Created at</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let validation of validations;let i = index">
            <tr  #prescriptionRows (click)="onClickOnValidation(validation)" style="cursor: pointer;" [id]="(i == 0 && validation.id == lastCreatedValidationIdFromNotification) ? 'last-selected-prescription' : ''">
              <td class="col-1">{{ validation.id }}</td>
              <td class="col-1">{{ validation.prescriptionId}}</td>
              <td class="col-1">{{ validation.posologies.length }}</td>
              <td class="col-2">{{ getValidationStatus(validation) }}</td>
              <td class="col-2">{{ validation.pharmacistName ?? "Not applicable" }}</td>
              <td class="col-2">{{ getDateString(validation.createdAt) }}</td>
            </tr>
          </ng-container>
          >
        </tbody>
      </table>
      } @if(isLoading && isFailedToLoad==false){
      <div class="mx-auto pe-5 mt-5" style="width: fit-content"><mat-spinner></mat-spinner></div>
      }
      @if(isFailedToLoad==true){
        <div class="mx-auto pe-5 mt-5" style="width: fit-content">Error in fetching validations after several retries, please click on retry</div>
      }
    </div>
  </div>