<div class="dialog-container">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
    <div class="dialog-details">
        <h2>{{ medcine.Nom }}</h2>
        <p><strong>Dosage:</strong> {{ medcine.Dosage }}</p>
        <p><strong>Forme:</strong> {{ medcine.Forme }}</p>
        <p><strong>Présentation:</strong> {{ medcine.Presentation }}</p>
        <p><strong>DCI:</strong> {{ medcine.Indications }}</p>
        <p><strong>Classe:</strong> {{ medcine.Classe }}</p>
        <p><strong>Sous Classe:</strong> {{ medcine.SousClasse }}</p>
        <p><strong>Laboratoire:</strong> {{ medcine.Laboratoire }}</p>
        <p><strong>AMM:</strong> {{ medcine.AMM }}</p>
        <p><strong>Date AMM:</strong> {{ medcine.DateAMM }}</p>
        <p><strong>Conditionnement primaire:</strong> {{ medcine.ConditionnementPrimaire }}</p>
        <p><strong>Spécification Conditionnement primaire:</strong> {{ medcine.SpecificationConditionnementPrimaire }}
        </p>
        <p><strong>Tableau:</strong> {{ medcine.Tableau }}</p>
        <p><strong>Durée de conservation:</strong> {{ medcine.DureeConservation }}</p>
        <p><strong>Indications:</strong> {{ medcine.Indications }}</p>
        <p><strong>G/P/B:</strong> {{ medcine.GPB }}</p>
        <p><strong>VEIC:</strong> {{ medcine.VEIC }}</p>

        <!-- Add more details as needed -->
    </div>
</div>