
.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition: all 0.15s linear 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}

.multisteps-form__progress-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  content: '\F26B'; /* Bootstrap check-circle icon */
  font-family: 'Bootstrap Icons';
  font-size: 14px;
  color: #28a745; /* Change color if needed */
  transform: translate(-50%, -50%);
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition: all 0.15s linear 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: #28a745;
}

.multisteps-form__progress-btn.js-active:before {
  transform: translate(-50%, -50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.multisteps-form__panel[data-animation="scaleOut"] {
  transform: scale(1.1);
}

.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition: all 0.2s linear 0s;
  transform: scale(1);
}

.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}

.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition: all 0.25s cubic-bezier(0.2, 1.13, 0.38, 1.43);
  left: 0;
}

.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}

.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition: all 0.2s linear 0s;
  top: 0;
}

.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition: all 0.3s linear 0s;
}

.multisteps-form__panel[data-animation="scaleIn"] {
  transform: scale(0.9);
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition: all 0.2s linear 0s;
  transform: scale(1);
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.scaleIn {
  animation: scaleIn 0.3s ease-in-out;
}



.wizard-container {
  width: auto;
}

.wizard-step {
  display: none;
}

.wizard-step.active {
  display: block;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  border: none;
}


.col-12.col-lg-4.text-right {
  text-align: right;
}