<div class="content-wrapper">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="[ '/', 'register-view']" routerLinkActive="active" >Liste des Patients</button>
</div>
  <div class="row">
    <div class="multisteps-form__progress">
      <button
        class="multisteps-form__progress-btn"
        [class.js-active]="currentStep === 1"
        type="button"
        title="Patient Info"
        (click)="onClick(1)"
      >
        Patient Details
      </button>
      <button
        class="multisteps-form__progress-btn"
        [class.js-active]="currentStep === 2"
        type="button"
        title="allergies"
        (click)="onClick(2)"
      >
        Allergy Symptoms
      </button>
      <button
        class="multisteps-form__progress-btn"
        [class.js-active]="currentStep === 3"
        type="button"
        title="personal medical history"
        (click)="onClick(3)"
      >
        Personal Medical History
      </button>
      <button
        class="multisteps-form__progress-btn"
        [class.js-active]="currentStep === 4"
        type="button"
        title="family medical history"
        (click)="onClick(4)"
      >
        Family Medical History
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
     
        <div class="wizard-container" style="height: 470px; overflow-y: auto">
          <!--step 1-->
          <div class="wizard-step" [class.active]="currentStep === 1">
            <!-- Content for step 1 goes here 
            <form class="forms-sample">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Nom de famille"
                formControlName="lastCtrl"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="Entrer prénom"
                formControlName="firstCtrl"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="number"
                class="form-control"
                id="age"
                placeholder="Entrer l'âge"
                required
              />
            </div>

            <div class="form-check" role="group">
              <input
                type="radio"
                class="form-check-input"
                name="gender"
                id="female"
                [disabled]="selectedGender !== 'female'"
                formControlName="gender"
                value="female"
              />
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check" role="group">
              <input
                type="radio"
                class="form-check-input"
                name="gender"
                id="male"
                [disabled]="selectedGender !== 'female'"
                formControlName="gender"
                value="male"
              />
              <label class="form-check-label" for="male">Male</label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [disabled]="selectedGender !== 'female'"
                id="breastfeeding"
                formControlName="breastfeeding"
              />
              <label class="form-check-label" for="breastfeeding"
                >Breastfeeding</label
              >
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [disabled]="selectedGender !== 'female'"
                id="pregnancy"
                formControlName="pregnancy"
              />
              <label class="form-check-label" for="pregnancy">Pregnancy</label>
            </div>

            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="height"
                placeholder="Entrez la hauteur (cm)"
                formControlName="height"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="number"
                class="form-control"
                id="weight"
                placeholder="Entrez le poids en (kg)"
                formControlName="weight"
                required
              />
            </div>

            <div class="form-group">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="activity"
                  formControlName="activity"
                  placeholder="Do you workout?"
                  required
                  list="activityOptions"
                />
                <datalist id="activityOptions">
                  <option
                    *ngFor="let activity of activities"
                    [value]="activity.viewValue"
                  ></option>
                </datalist>

                <ul class="dropdown-menu">
                  <li *ngFor="let activity of activities">
                    <a
                      class="dropdown-item"
                      (click)="selectActivity(activity)"
                      >{{ activity.viewValue }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </form>-->
          
            
                
                    
                        
                            <h4 class="card-title"></h4>
                            <p class="card-description">
                            </p>
                            <form class="forms-sample">
                              <div class="mb-3 d-flex flex-wrap justify-content-around">
                                <div class="mr-2">
                                  <label for="exampleInputPatientname">Patient name:</label>
                                  <input type="text" class="form-control form-control-sm" id="exampleInputPatientname" placeholder="name">
                                </div>
                                <div class="mr-2">
                                  <label for="exampleInputage">Age :</label>
                                  <input type="number" class="form-control form-control-sm" id="exampleInputage" placeholder="age">
                                </div>
                              </div>
                              <div class="mb-3 d-flex flex-wrap justify-content-around">
                                <div class="mr-2">
                                  <label for="exampleInputH">Height:</label> 
                                  <input type="number" class="form-control form-control-sm" id="height" placeholder="Entrez la hauteur (cm)" formControlName="height" required>
                                </div>
                                <div class="mr-2">
                                  <label for="exampleInputW">Weight:</label>
                                  <input type="number" class="form-control form-control-sm" id="weight" placeholder="Entrez le poids en (kg)" formControlName="weight" required>
                                </div>
                              </div>
                              <div class="mb-3 d-flex flex-wrap justify-content-around">
                                <div class="mr-2">
                                  <label for="exampleInputage">Activity Status:</label>
                                </div>
                                <div class="mr-2">
                                  <input type="text" class="form-control form-control-sm" id="activity" formControlName="activity" placeholder="Do you workout?" required list="activityOptions">
                                  <datalist id="activityOptions">
                                    <option *ngFor="let activity of activities" [value]="activity.viewValue"></option>
                                  </datalist>
                                </div>
                              </div>
                            </form>
                            
                            
                            
                            
        </div>

          <!--step 2-->
          <div class="wizard-step" [class.active]="currentStep === 2">
            <!-- Content for step 2 goes here -->
            <h2><strong> symptoms checklist</strong></h2>
           <p>Check your symptoms below na dshare with your provider :</p> 
            <ul
              class="list-group list-group-flush"
              *ngFor="let symptom of allergySymptoms"
            >
              <li class="list-group-item">
                <input
                  style="margin-left: 15px; margin-right: 5px"
                  type="checkbox"
                  id="{{ symptom.id }}"
                  formControlName="allergySymptoms"
                  [value]="symptom.id"
                />
                {{ symptom.name }}
              </li>
            </ul>
          </div>

          <!--step 3-->
          <div class="wizard-step" [class.active]="currentStep === 3">
            <!-- Content for step 3 goes here -->
            <ul class="list-group list-group-flush" *ngFor="let item of items">
              <h5>{{ item.name }}</h5>
              <li class="list-group-item">
                <div *ngFor="let group of item.groups">
                  <input
                    type="checkbox"
                    style="margin-right: 5px"
                    (change)="toggleExpanded(group)"
                  />
                  {{ group.name }}
                  <div *ngIf="group.expand">
                    <div *ngFor="let child of group.children">
                      <input
                        style="margin-left: 20px; margin-right: 5px"
                        type="checkbox"
                        (change)="onItemChange($event, child)"
                      />
                      {{ child.name }}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!--step 4-->
          <div class="wizard-step" [class.active]="currentStep === 4">
            <i class="fas fa-check"></i>
            <!-- Content for step 4 goes here -->
            <i class="bi bi-exclamation-triangle"></i>
            <p><em>Consider only <strong>first-degree relatives</strong></em></p>
            <br/>
            <ul class="list-group list-group-flush" *ngFor="let item of cardio">
              <h5>{{ item.name }}</h5>
              <li class="list-group-item">
                <div *ngFor="let group of item.groups">
                  <input
                    type="checkbox"
                    style="margin-right: 5px"
                    (change)="toggleExpanded(group)"
                  />
                  {{ group.name }}
                  <div *ngIf="group.expand">
                    <div *ngFor="let child of group.children">
                      <input
                        style="margin-left: 15px; margin-right: 5px"
                        type="checkbox"
                        (change)="onItemChange($event, child)"
                      />
                      {{ child.name }}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex justify-content-start">
        <div class="col-12 col-lg-8 mb-4">
          <button type="button" class="btn btn-outline-success" (click)="onPrevClick()">
            Previous
          </button>
          <button type="button" class="btn btn-outline-success" (click)="onNextClick()">
            Next
          </button>
        </div>
      </div>
      </div>
      
    </div>
  </div>

