<div class="card">
  <div class="card-body">
    <div>
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
        [grid]="chartOptions.grid"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>
