table {
    width: 100%;
    border-collapse: collapse;
}
 td {
  width: 10%;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: x-small; /* Define dynamic font size here */
}
tr:hover {
    background-color: #f5f5f5;
}