<div class="mb-4 col-12 col-md-6 col-lg-4 shadow">
  <input
    matInput
    class="form-control"
    style="border-color: white;"
    (keyup)="applyFilter($event)"
    placeholder="search medication"
    #input
  />
</div>

<div class="table-responsive" style="max-height: 400px; overflow-y: auto">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Name</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element.Name }}
      </td>
    </ng-container>

    <!-- Dosage Column -->
    <ng-container matColumnDef="dosage">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Dosage</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element.Dosage }}
      </td>
    </ng-container>

    <!-- Forme Column -->
    <ng-container matColumnDef="forme">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Forme</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element.Forme }}
      </td>
    </ng-container>

    <!-- Forme Column -->
    <ng-container matColumnDef="dci">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">DCI</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element.DCI }}
      </td>
    </ng-container>

    <!-- Expiration_Date Column -->
    <ng-container matColumnDef="exp date">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">
        Exp-Date
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element["Expiration Date"] }}
      </td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Unit</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element.Unit }}
      </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Price</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element.Price }}
      </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Stock</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element.Stock }}
      </td>
    </ng-container>

    <!-- Alert Stock Column -->
    <ng-container matColumnDef="alert stock">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Alert Stock</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element["Alert Stock"] }}
      </td>
    </ng-container>

    <!-- Average Stock Column -->
    <ng-container matColumnDef="average stock">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Average Stock</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element["Average Stock"] }}
      </td>
    </ng-container>

    <!-- Minimum Stock Column -->
    <ng-container matColumnDef="minimum stock">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Minimum Stock</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element["Minimum Stock"] }}
      </td>
    </ng-container>

    <!-- Safety Stock Column -->
    <ng-container matColumnDef="safety stock">
      <th mat-header-cell *matHeaderCellDef class="vertical-line">Safety Stock</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="vertical-line welcome-sub-text"
      >
        {{ element["Safety Stock"] }}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>