<div class="row flex-grow mt-2">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div id="add-prescription-body">
                    <!-- Tools bar (report issue, forward ...) -->
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title card-title-dash">Diets</h4>
                        </div>

                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-outline-primary align-items-center"><i
                                    class="fa fa-paper-plane"></i> Forward</a>

                            <a href="#" class="btn btn-outline-primary align-items-center"><i class="icon-printer"></i>
                                Export PDF</a>
                            <a href="#" class="btn btn-primary text-white align-items-center"
                                [routerLink]="['/', 'eScript']" routerLinkActive="active">
                                <i class="fa fa-qrcode" aria-hidden="true"></i> eScript (electronic prescription)
                            </a>
                            <a href="#" class="btn btn-danger text-white align-items-center"
                                [routerLink]="['/', 'report-issue-csv']" style="border-color: red">
                                <i class="fa fa-flag" aria-hidden="true"></i> Report an issue
                            </a>
                        </div>
                    </div>
                    <app-wizard-header [steps]="steps" (currentStepChange)="SwitchToStep($event)"
                        [currentStep]="stepNumber" [size]="3" [IconSizeRatio]="0.5"   [switchCondition]="false"></app-wizard-header>
                    <div class="wizard-container" style="height: 490px; overflow-y: auto">
                        <div [className]="stepNumber != 1 && 'd-none'">
                            <app-prescription-list-for-diet   [stepNumber]="stepNumber"
                            (selectedRegisterChange)="onSelectPatientChange($event)" ></app-prescription-list-for-diet>
                        </div>
                        <div *ngIf="stepNumber === 2 ">
                            <div style="display: flex; align-items: center;">
                                <div style="display: table; height: 200px;">
                                    <div style="display: table-cell; vertical-align: left; width: 60%;">
                                        <app-add-diet [stepNumber]="stepNumber" (mealsEmitter)="onMealsEmitter($event)" [inputRegister]="selectedRegister" ></app-add-diet>
                                    </div>
                                    <div style="display: table-cell; vertical-align: right; width: 40%;">
                                        <app-patient-detail  [meal]="emittedMeals" [inputRegister]="selectedRegister" ></app-patient-detail>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="stepNumber === 3 ">
                                <app-meals-list></app-meals-list>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-12 col-lg-8">
                          <button type="button" class="btn btn-outline-primary" >Cancel</button>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-end">
                          <button type="button" [className]="backButtonContent.class" >
                            {{ backButtonContent.label }}
                          </button>
                          <button type="button" [className]="nextButtonContent.class">
                            {{ nextButtonContent.label }}
                          </button>
                        </div>
                      </div>   
                </div>


            </div>
        </div>
    </div>
</div>