<div class="t-comments-box" style="position: relative; top: 0%;">
  <div class="add-comment">
    <div class="comment-input">
      <input
        #commentInput
        class="form-control form-control-sm"
        type="text"
        placeholder="Add a comment.."
        (keydown.enter)="onCommentsend(commentInput)"
     style="width: 500px;" />
    </div>
  </div>
  @for (item of note; track $index) {
  <div class="comment comment-level-1" >
    <div style="text-align: left;">
      <div class="comment-label">
        <span class="comment-name">Uchiha Itachi</span>
        <span class="comment-time"> - 5 days ago</span>
      </div>
      <div class="comment-content">
        {{ note[$index]}}
      </div>
      <div class="comment-action">
      </div>
    </div>

  </div>
}
</div>

  